@using HSMCommon.Extensions
@using HSMServer.Model.Controls
@using HSMServer.Notifications
@using HSMServer.Extensions

@model DefaultSlackDestinationViewModel

@inject ISlackDestinationsManager SlackDestinationsManager

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var (displayName, parentDestinations) = Model.GetDisplayDestinationName(SlackDestinationsManager.GetValues().Where(d => d.SendMessages).ToList(), out var allDestinations);
}


<span class="@(Model.IsModify ? "col-2" : "meta-info-label")">Slack destination(s)</span>

<span id="labelDefaultSlackDestination" class="@(Model.IsModify ? "d-none" : "meta-info-value")">@displayName</span>
<div id="defaultSlackDestinationControl" class="@(Model.IsModify ? "col-auto ms-1 mx-2" : "d-none meta-info-interval mx-2")">
    <select name="SelectedChats" class="default-slack-destination selectpicker" multiple data-live-search="true" data-placeholder="Default slack destination(s)" required>
        <option value="@DefaultChatMode.FromParent" selected="@Model.IsSelectedMode(DefaultChatMode.FromParent)">@parentDestinations</option>
        <option value="@DefaultChatMode.NotInitialized" selected="@Model.IsSelectedMode(DefaultChatMode.NotInitialized)">@DefaultChatMode.NotInitialized.GetDisplayName()</option>
        <option value="@DefaultChatMode.Empty" selected="@Model.IsSelectedMode(DefaultChatMode.Empty)">@DefaultChatMode.Empty.GetDisplayName()</option>

        <option data-divider="true"></option>
        <option disabled>Slack destinations</option>
        @foreach (var destination in allDestinations.OrderBy(d => d.Name))
        {
            <option value="@destination.Id" selected="@Model.IsSelectedDestination(destination)">@destination.Name</option>
        }
    </select>
</div>

<i class='fas fa-question-circle mx-2' title='Slack destination that will be default for new sensors.'></i>


<script>
    $(document).ready(function () {
        $("select[name='SelectedChats'].default-slack-destination").selectpicker();
        $("select[name='SelectedChats'].default-slack-destination").off('changed.bs.select').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue, a) {
            const clickedValue = $(this)[0].options[clickedIndex].value;
            if ((clickedValue === 'Empty' || clickedValue === 'NotInitialized') && isSelected) {
                $(this).val($(this)[0].options[clickedIndex].value);
            }
            else {
                if (Array.from($("select[name='SelectedChats'].default-slack-destination")[0].selectedOptions).find(x => x.value === 'NotInitialized' || x.value === 'Empty') !== undefined)
                    $(this).val($(this)[0].options[clickedIndex].value);
            }

            $(this).selectpicker('refresh')
        });
    })

    function fillDefaultSlackDestinationMode(formData) {
        let chatsMode = '@DefaultChatMode.Custom';
        let chats = [];

        $(document).find("select[name='SelectedChats'].default-slack-destination:first option").each(function () {
            if ($(this).is(':selected')) {
                if ($(this).val() === '@DefaultChatMode.FromParent' || $(this).val() === '@DefaultChatMode.NotInitialized' ||
                    $(this).val() === '@DefaultChatMode.Empty') {
                    chatsMode = $(this).val();
                    chats = [];
                    return;
                }

                chats.push($(this).val());
            }
        });

        formData.append(`DefaultSlackDestinations.ChatMode`, chatsMode);

        for (let k = 0; k < chats.length; ++k) {
            formData.append(`DefaultSlackDestinations.SelectedChats[${k}]`, chats[k]);
        }
    }
</script>
