@using HSMServer.Model

@model TimeIntervalViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="d-grid">
    <select id="timeIntervalSelect_@Model.Id" class="timeIntervalSelect form-select" asp-for="TimeInterval" asp-items="@Model.IntervalItems"></select>
    <input id="input_timeIntervalSelect_@Model.Id" class="customTimeInterval form-control" placeholder="@TimeIntervalViewModel.CustomTemplate" style="display:none" asp-for="CustomTimeInterval" />
</div>

<script>
    var interval_id = '#timeIntervalSelect_' + '@Model.Id';

    $(interval_id).change(function (select_obj) {
        if ('@Model.CustomItemIsVisible' === "False")
            return;

        var select = select_obj.currentTarget;
        var custom_input_id = `#input_${select.id}`;

        if (select.options[select.selectedIndex].text == '@TimeInterval.Custom') {
            $(custom_input_id).show();
        }
        else {
            $(custom_input_id).hide();
        }
    });

    $(interval_id).trigger("change");
</script>
