@using HSMServer.Model

@model TimeIntervalViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var isIgnoreInterval = !Model.UseCustomInputTemplate;
}


<div class="d-grid placeholder-wrapper">
    <select id="timeIntervalSelect_@Model.Id" class="timeIntervalSelect @(isIgnoreInterval ? "form-select" : "alert-block alert-select target-input target-period")"
            asp-for="Interval" asp-items="@Model.IntervalItems"></select>
    <input id="input_timeIntervalSelect_@Model.Id" style="display:none" class="customTimeInterval @(isIgnoreInterval ? "form-control" : "target-custom-period")"
           placeholder="@TimeIntervalViewModel.CustomTemplate" asp-for="CustomTimeInterval" />
    <div id="placeholder_timeIntervalSelect_@Model.Id" class="placeholder d-none">@TimeIntervalViewModel.CustomTemplate</div>
</div>


<script>
    var interval_id = '#timeIntervalSelect_' + '@Model.Id';

    $(interval_id).change(function (select_obj) {
        if ('@Model.UseCustomInputTemplate' === "False")
            return;

        var select = select_obj.currentTarget;
        var custom_input_id = `#input_${select.id}`;
        var placeHolder = `#placeholder_${select.id}`;

        if (select.options[select.selectedIndex].text == '@TimeInterval.Custom') {
            $(custom_input_id).show();
            $(placeHolder).removeClass('d-none');
        }
        else {
            $(custom_input_id).hide();
            $(placeHolder).addClass('d-none');
        }
    });

    $(interval_id).trigger("change");
</script>
