@using HSMServer.Core.Model
@using HSMServer.Model.History;
@using HSMServer.Extensions;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model HistoryTableViewModel

@{
    var currentPage = Model.CurrentTablePage;
    var olderTime = currentPage.LastOrDefault()?.ReceivingTime;
}


@if (Model.Pages.Count == 0)
{
    <div id="noTableValues_@Model.SensorId"></div>
}
else
{
    <input id="oldest_date_@Model.SensorId" style='display: none' value="@olderTime" />
    <div>
        <table class='table table-striped'>
            <thead>
                <tr class="text-nowrap">
                    <th class="w-10">Date</th>
                    <th id="receivingTime_header" class="d-none">Receiving time</th>
                    @if (Model.IsBarSensor)
                    {
                        <th id="min_header" class="d-none">Min</th>
                        <th id="mean_header" class="d-none">Mean</th>
                        <th id="max_header" class="d-none">Max</th>
                        <th id="count_header" class="d-none">Count</th>
                        <th id="last_header" class="d-none">Last value</th>
                    }
                    else
                    {
                        <th id="last_header" class="d-none">Value</th>
                    }
                    <th id="status_header" class="d-none">Status</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < currentPage.Count; ++i)
                {
                    var value = currentPage[i];

                    <tr>
                        <td>@value.Time.ToDefaultFormat()</td>
                        <td id="receivingTime_value@(i)" class="d-none">@value.ReceivingTime.ToDefaultFormat()</td>
                        @if (Model.IsBarSensor)
                        {
                            var barValue = value as BarSensorValueViewModel;

                            <td id="min_value@(i)" class="d-none">@barValue.Min</td>
                            <td id="mean_value@(i)" class="d-none">@barValue.Mean</td>
                            <td id="max_value@(i)" class="d-none">@barValue.Max</td>
                            <td id="count_value@(i)" class="d-none">@barValue.Count</td>
                            <td id="last_value@(i)" class="d-none">@barValue.LastValue</td>
                        }
                        else
                        {
                            var simpleValue = value as SimpleSensorValueViewModel;

                            <td id="last_value@(i)" class="d-none">@simpleValue.Value</td>
                        }
                        <td id="status_value@(i)" class="d-none">@value.Status.ToIconStatus()</td>
                        <td>@value.Comment</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="container d-flex justify-content-center">
            <ul class="pagination">
                <li id="prevPageButton" class="page-item button-link">
                    <a class="page-link" aria-label="Previous" onclick="showPage(prevPageAction, '@(Model.SensorId)')">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link">@(Model.CurrentIndex + 1)</a>
                </li>
                <li id="nextPageButton" class="page-item button-link">
                    <a class="page-link" aria-label="Next" onclick="showPage(nextPageAction, '@(Model.SensorId)')">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        $('#allColumnsButton')[0].innerText = 'Show all columns';
    });

    if (@Model.CurrentIndex === @Model.LastIndex) {
        $('#nextPageButton').addClass('disabled');
    }

    if (@Model.CurrentIndex === 0) {
        $('#prevPageButton').addClass('disabled');
    }
</script>
