@using HSMServer.Model.ViewModel
@using HSMServer.Constants
@using HSMServer.HtmlHelpers
@model EditProductViewModel

@{ ViewData["Title"] = "Product " + Model.ProductName; }

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

<script>
    var addUserRight = "@Html.Raw(Url.Action(ViewConstants.AddUserRightAction, ViewConstants.ProductController))";
    var editUserRole = "@Html.Raw(Url.Action(ViewConstants.EditUserRoleAction, ViewConstants.ProductController))";
    var deleteUserRole = "@Html.Raw(Url.Action(ViewConstants.RemoveUserRoleAction, ViewConstants.ProductController))";
    var addExtraKey = "@Html.Raw(Url.Action(ViewConstants.AddExtraKeyAction, ViewConstants.ProductController))";
    var deleteExtraKey = "@Html.Raw(Url.Action(ViewConstants.RemoveExtraKeyAction, ViewConstants.ProductController))";
</script>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteLabel">Remove user right</h5>
            </div>

            <div id="modalDeleteBody" class="modal-body">

            </div>

            <div class="modal-footer">
                <button id="closeDeleteButton" type="button" class="btn btn-secondary" data-bs-dismiss="modalDelete">Close</button>
                <button id="confirmDeleteButton" type="button" class="btn btn-secondary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<input id="productKey" value="@Model.ProductKey" style="display: none" />

<div class="container row justify-content-center">
    @ViewHelper.CreateExtraKeysTable(Context.User, Model)
    @ViewHelper.CreateUsersRightsTable(Context.User, Model)
</div>

<script>
    let userErrorText = '@TempData[TextConstants.TempDataUserErrorText]';
    if (userErrorText !== undefined) {
        let userErrorSpan = document.getElementById('new_user_span');
        userErrorSpan.textContent = userErrorText;//.slice(0, userErrorText.length - 5);
        userErrorSpan.setAttribute("style", "display: block;color: red;font-size: large;font-weight: normal;white-space: pre-line");
    }

    let keyErrorText = '@TempData[TextConstants.TempDataKeyErrorText]';
    if (keyErrorText !== undefined) {
        let keyErrorSpan = document.getElementById('new_key_span');
        keyErrorSpan.textContent = keyErrorText;//.slice(0, keyErrorText.length - 5);
        keyErrorSpan.setAttribute("style", "display: block;color: red;font-size: large;font-weight: normal;white-space: pre-line");
    }

    //copy buttons
    var clipboard = new ClipboardJS('[id^="copy_"]');
</script>


<script>
    function createUserRightData(userId, role, productKey) {
        return { "ProductKey": productKey, "UserId": userId, "ProductRole": role }
    }

    //create user
    $('#createButton').on('click', function () {
        userId = $('#createUser').val();
        role = $('#createProductRole').val();
        productKey = $('#productKey').val();

        data = createUserRightData(userId, role, productKey);
        //console.log(JSON.stringify(data));

        $.ajax({
            type: 'POST',
            url: addUserRight,
            data: JSON.stringify(data),
            contentType: 'application/json',
            cache: false,
            async: true,
            success: function () {
                document.location.reload();
            }
        });
    });

    //delete user
    $('[id^=delete_]').on('click', function () {
        username = this.id.substring('delete_'.length, this.id.length);
        userId = $('#userId_' + username).val();
        productKey = $('#productKey').val();

        var data = createUserRightData(userId, 0, productKey);

        $('#modalDeleteLabel').empty();
        $('#modalDeleteLabel').append('Remove user right');
        $('#modalDeleteBody').empty();
        $('#modalDeleteBody').append('Do you really want to remove "' + username + '" user right?');

        var modal = new bootstrap.Modal(document.getElementById('modalDelete'));
        modal.show();

        //modal confirm
        $('#confirmDeleteButton').on('click', function () {
            modal.hide();

            $.ajax({
                type: 'POST',
                url: deleteUserRole,
                data: JSON.stringify(data),
                contentType: 'application/json',
                cache: false,
                async: true,
                success: function () {
                    document.location.reload();
                }
            });
        });

        //modal close
        $('#closeDeleteButton').on('click', function () {
            modal.hide();
        });
    });

    //change user
    $('[id^=change_]').on('click', function () {
        username = this.id.substring('change_'.length, this.id.length);

        $('[id^=role_]').attr('disabled', true);
        $('[id^=ok_]').attr('disabled', true);
        $('[id^=cancel_]').attr('disabled', true);

        $('#role_' + username).removeAttr("disabled");
        $('#ok_' + username).removeAttr("disabled");
        $('#cancel_' + username).removeAttr("disabled");
    });

    $('[id^=cancel_]').on('click', function () {
        document.location.reload();
    });

    $('[id^=ok_]').on('click', function () {
        username = this.id.substring('ok_'.length, this.id.length);

        userId = $('#userId_' + username).val();
        role = $('#role_' + username).val();
        productKey = $('#productKey').val();

        var data = createUserRightData(userId, role, productKey);
        $.ajax({
            type: 'POST',
            url: editUserRole,
            data: JSON.stringify(data),
            contentType: 'application/json',
            cache: false,
            async: true,
            success: function () {
                document.location.reload();
            }
        });
    });

</script>

<script>
    function createKeyData(productKey, keyName, extraKey) {
        return { "ExtraProductKey": extraKey, "ProductKey": productKey, "ExtraKeyName": keyName }
    }

    //create key
    $('#createKeyButton').on('click', function () {
        keyName = $('#createKeyName').val();
        productKey = $('#productKey').val();

        data = createKeyData(productKey, keyName, null);

        $.ajax({
            type: 'POST',
            url: addExtraKey,
            data: JSON.stringify(data),
            contentType: 'application/json',
            cache: false,
            async: true,
            success: function () {
                document.location.reload();
            }
        });
    });

    //delete key
    $('[id^=deleteKey_]').on('click', function () {
        extraProductKey = this.id.substring('deleteKey_'.length, this.id.length);
        productKey = $('#productKey').val();
        extraProductName = $('#keyName_' + extraProductKey).val();

        var data = createKeyData(productKey, extraProductName, extraProductKey);

        $('#modalDeleteLabel').empty();
        $('#modalDeleteLabel').append('Remove extra key');
        $('#modalDeleteBody').empty();
        $('#modalDeleteBody').append('Do you really want to remove "' + extraProductName + '" extra key?');

        var modal = new bootstrap.Modal(document.getElementById('modalDelete'));
        modal.show();

        //modal confirm
        $('#confirmDeleteButton').on('click', function () {
            modal.hide();

            $.ajax({
                type: 'POST',
                url: deleteExtraKey,
                data: JSON.stringify(data),
                contentType: 'application/json',
                cache: false,
                async: true,
                success: function () {
                    document.location.reload();
                }
            });
        });

        //modal close
        $('#closeDeleteButton').on('click', function () {
            modal.hide();
        });
    });
</script>