@using HSMServer.Model.AccessKeysViewModels
@using HSMServer.Controllers
@using HSMServer.Constants
@using HSMServer.Core.Model.Authentication
@using HSMServer.Extensions

@model List<AccessKeyViewModel>

@{
    var user = User as User;
}

@foreach (var key in Model)
{
    var title = $"Status : {key.State}\nExpiration date : {key.ExpirationDate}";
    <tr>
        @if (key.HasProductColumn)
        {
            <td style="word-wrap: break-word">
                @if (key.ParentProduct.Parent == null && key.ParentProduct.IsChangingAccessKeysAvailable(user))
                {
                    <a href="@Url.Action(nameof(ProductController.EditProduct), ViewConstants.ProductController, new {Product = key.ParentProduct.EncodedId}, null)">
                        @Html.Raw(key.NodePath)
                    </a>
                }
                else
                {
                    @Html.Raw(key.NodePath)
                }
            </td>
        }
        <td nowrap>@Html.Raw(key.DisplayName)</td>
        <td nowrap>
            <a role="button" tabindex="0" id="copy_@key.Id" data-clipboard-text="@key.Id" title="copy key" class="link-primary">copy</a>
        </td>
        <td>@key.Permissions</td>
        <td>@key.AuthorName</td>
        <td class="text-center">
            <i class='@key.State.ToIcon()' title="@title"></i>
        </td>
        <td nowrap class="text-center">
            @if (key.ParentProduct.IsChangingAccessKeysAvailable(user))
            {
                <div class='btn-group'>
                    <i class="fa-solid fa-ellipsis-vertical" data-bs-toggle="dropdown" style="cursor: pointer"></i>
                    <div class='dropdown-menu'>
                        <button id='changeAccessKey_@key.Id' class='dropdown-item'>Edit</button>
                        <button id='blockAccessKey_@key.Id' class='dropdown-item'>Block</button>
                        <button id='deleteAccessKey_@key.Id' class='dropdown-item'>Remove</button>
                    </div>
                </div>
            }
        </td>
    </tr>
}

@await Html.PartialAsync("~/Views/Shared/_DeletionConfirmationModal.cshtml")

<script src="~/js/bundles/accessKey.min.js"></script>

<script>
    var changeAccessKeyAction = "@Html.Raw(Url.Action(nameof(AccessKeysController.ModifyAccessKey), ViewConstants.AccessKeysController))";
    $('[id^="changeAccessKey_"]').off("click").on("click",
        function () {
            let selectedKeyId = this.id.substring("changeAccessKey_".length, this.id.length);
            changeAccessKey(changeAccessKeyAction, selectedKeyId)
        });
   
    $('[id^="deleteAccessKey_"]').off("click").on("click",
        function () {
            let selectedKeyId = this.id.substring("deleteAccessKey_".length, this.id.length);
             
            let isAllAccessKeysTable = document.getElementById('accessKeys_productColumn');
            let url;
            if (isAllAccessKeysTable != undefined) {
                let isAllProducts = false;  // false while checkbox id=allProducts is not visible (AccessKeys/Index.cshtml)
        
                url = `@Html.Raw(Url.Action(nameof(AccessKeysController.RemoveAccessKeyFromAllTable), ViewConstants.AccessKeysController))?SelectedKey=${selectedKeyId}&AllProducts=${isAllProducts.checked}`;
            } else {
                url = `@Html.Raw(Url.Action(nameof(AccessKeysController.RemoveAccessKeyFromProductTable), ViewConstants.AccessKeysController))?SelectedKey=${selectedKeyId}`;
            }
            
            deleteAccessKey(url,  selectedKeyId)
        });
    
    var blockAccessKeyAction = "@Html.Raw(Url.Action(nameof(AccessKeysController.BlockAccessKey), ViewConstants.AccessKeysController))"
    $('[id^="blockAccessKey_"]').off("click").on("click",
        function () {
             let selectedKeyId = this.id.substring("blockAccessKey_".length, this.id.length);
             blockAccessKey(blockAccessKeyAction, selectedKeyId)
        });
</script>