@using HSMServer.Authentication
@using HSMServer.Constants
@using HSMServer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HSM</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://kit.fontawesome.com/96e197af10.js" crossorigin="anonymous"></script>
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <header>
    </header>
    @if (Context.User is HSMServer.Authentication.User)
    {
        <nav class="navbar navbar-expand-lg navbar-light" style=" background-color: #edf0f5; height: 50px;">
            <div class="container-fluid">


                <div class="collapse navbar-collapse" id="nabarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="@Url.Action(ViewConstants.IndexAction,ViewConstants.HomeController)">
                                Tree
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               href="@Url.Action(ViewConstants.IndexAction, ViewConstants.ProductController)">Products</a>
                        </li>
                        @if (UserRoleHelper.IsUsersPageAllowed((User)Context.User))
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="@Url.Action(ViewConstants.UsersAction, ViewConstants.AccountController)">
                                    Users
                                </a>
                            </li>
                        }
                        
                        @if (UserRoleHelper.IsAdminPageAllowed((User) Context.User))
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="@Url.Action(ViewConstants.IndexAction, ViewConstants.AdminController)">
                                    Admin
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link" target="_blank"
                               href="https://@(Context.Request.Host.Value.Replace("44333","44330") + ViewConstants.ApiSwagger)">
                                API
                            </a>
                        </li>

                        <li class="nav-item" style="position: absolute; right: 110px; bottom: 5px">
                            <a class="nav-link"
                               href="#">
                                Hello, @(((User)Context.User).UserName)
                            </a>
                        </li>
                        <li class="nav-item" style="position: absolute; right: 10px; bottom: 0px">
                            <a class="nav-link"
                               href="@Url.Action(ViewConstants.LogoutAction, ViewConstants.AccountController)">
                                Logout
                                <i class="fas fa-sign-out-alt" style="margin: 10px"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #edf0f5; height: 50px;">
            <div class="container-fluid">

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" target="_blank"
                               href="https://@(Context.Request.Host.Value.Replace("44333","44330") + ViewConstants.ApiSwagger)">
                                API
                            </a>
                        </li>

                        <li class="nav-item" style="position: absolute; right: 90px; bottom: 0px">
                            <a class="nav-link"
                               href="@Url.Action(ViewConstants.RegistrationAction, ViewConstants.AccountController)">
                                Registration
                                <i class="fas fa-user-plus" style="margin: 10px"></i>
                            </a>
                        </li>
                        <li class="nav-item" style="position: absolute; right: 10px; bottom: 0px">
                            <a class="nav-link"
                               href="@Url.Action(ViewConstants.IndexAction, ViewConstants.AccountController)">
                                Login
                                <i class="fas fa-sign-in-alt" style="margin: 10px"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    }

    <div class="container justify-content-center">
        <main role="main" class="pb-3" style="margin-bottom: 50px">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Soft-FX
        </div>

    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
