@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Core.Model;
@using HSMServer.Model

@model TelegramSettingsViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Telegram";
}

<div class="container mt-3">
    <div class="row">
        <div class="row">
            <h4 class="col-auto">Telegram</h4>
            <i class="col-auto fab fa-telegram fa-lg p-0 mt-2"></i>
        </div>

        <h5>Messages settings</h5>

        <form class="mx-4 my-2" method="post" asp-action="@nameof(AccountController.UpdateTelegramSettings)">
            <div class="form-group row">
                <label class="col-2 col-form-label" asp-for="MessagesDelay"></label>
                <div class="col-auto p-0">
                    <div class="input-group">
                        <input type="number" class="form-control" asp-for="MessagesDelay">
                        <span class="input-group-text">sec</span>
                    </div>
                </div>
            </div>

            <div class="form-group row mt-2">
                <label class="col-2 col-form-label" asp-for="MinStatusLevel"></label>
                <div class="col-auto p-0">
                    <select class="form-select" asp-for="MinStatusLevel" asp-items="Html.GetEnumSelectList<SensorStatus>()"></select>
                </div>
            </div>

            <div class="form-group row mt-2">
                <label class="col-2 col-form-label" asp-for="EnableMessages"></label>
                <div class="col-auto form-check form-switch mt-2">
                    <input class="form-check-input" type="checkbox" asp-for="EnableMessages">
                </div>
            </div>
            <button type="submit" class="btn btn-secondary my-1">Save</button>
        </form>

        <div class="row">
            <h5 class="col-auto m-0">Authorized accounts</h5>
            @if (Model.Chats.Count == 0)
            {
                <label class="col-auto p-0">(There are no authorized accounts)</label>
            }
        </div>

        <div class="row mx-4 my-1">
            <label class="col-auto p-0">If you want to start getting messages in telegram chat click</label>
            <div class="col-auto">
                <a asp-action="@nameof(AccountController.OpenInvitationLink)" target="_blank">invitation link</a>
            </div>
        </div>
        @if (Model.Chats.Count > 0)
        {
            <table class="table mx-4">
                <tr>
                    <th>Username</th>
                    <th>Authorized</th>
                    <th style="text-align:center">Actions</th>
                </tr>
                @foreach (var chat in Model.Chats)
                {
                    <tr>
                        <td>@chat.Name</td>
                        <td>@chat.AuthorizationTime</td>
                        <td style="text-align:center">
                            <div class="dropdown">
                                <i class="fa-solid fa-ellipsis-vertical" data-bs-toggle="dropdown" style="cursor: pointer"></i>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="@nameof(AccountController.SendTestTelegramMessage)"
                                                             asp-route-chatId="@chat.ChatId"
                                                             asp-route-userName="@chat.Name">
                                        Send test message
                                    </a>
                                    <a class="dropdown-item" asp-action="@nameof(AccountController.RemoveTelegramAuthorization)"
                                                             asp-route-chatId="@chat.ChatId">
                                        Remove authorization
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        }

        <div class="row">
            <h5 class="col-auto m-0">Authorized groups</h5>
            @if (Model.Groups.Count == 0)
            {
                <label class="col-auto p-0">(There are no authorized groups)</label>
            }
        </div>

        <div class="row mx-4 my-1">
            <label class="col-auto p-0">If you want to start getting messages in telegram group</label>
            <div class="col-auto">
                <a href="javascript:getGroupStartCommand()">copy message</a>
            </div>
            <label class="col-auto p-0">and send it in your telegram group. (Telegram bot should be added in the group and has admin rights)</label>
        </div>
        @if (Model.Groups.Count > 0)
        {
            <table class="table mx-4">
                <tr>
                    <th>Username</th>
                    <th>Authorized</th>
                </tr>
                @foreach (var group in Model.Groups)
                {
                    <tr>
                        <td>
                            <a target="_blank" asp-action="@nameof(AccountController.OpenTelegramChat)"
                                               asp-route-chatName="@group.Name">
                                @group.Name
                            </a>
                        </td>
                        <td>@group.AuthorizationTime</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>


<script>
    function getGroupStartCommand() {
        $.ajax({
            type: 'GET',
            url: "@Html.Raw(Url.Action(nameof(AccountController.CopyStartCommandForGroup), ViewConstants.AccountController))",
            dataType: 'html',
            contentType: 'application/json',
            cache: false,
            async: true
        }).done(function (command) {
            copyToClipboard(command);
        });
    }
</script>
