@using HSMServer.Model.ViewModel
@using HSMServer.Constants
@using HSMServer.Helpers
@using HSMServer.Model.Authentication
@model List<UserViewModel>

@{ ViewData["Title"] = "Users"; }

<script>
    var createAction = "@Html.Raw(Url.Action(ViewConstants.CreateUserAction, ViewConstants.AccountController))";
    var deleteAction = "@Html.Raw(Url.Action(ViewConstants.RemoveUserAction, ViewConstants.AccountController))";
    var updateAction = "@Html.Raw(Url.Action(ViewConstants.UpdateUserAction, ViewConstants.AccountController))";
</script>

<div class="container">
    <div class="row justify-content-center">
        @if (TempData[TextConstants.TempDataErrorText] != null)
        {
            <span class="font-weight-normal text-danger h1">@TempData[TextConstants.TempDataErrorText].ToString()</span>
        }
        
        <div class="m-2">
            <div class='row justify-content-start'>
                <div class='col-2'>
                    <h5 class="mx-4 my-2">Users</h5>
                </div>
            </div>
        </div>
        
        <div class='col-xxl'>
            <table class='table table-striped'>
                <thead>
                <tr>
                <th scope='col'>#</th>
                <th scope='col'>Username</th>
                <th scope='col'>Password</th>
                <th dcope='col'>IsAdmin</th>
                <th scope='col'>Products</th>
                <th scope='col'>Action</th>
                <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    <tr>
                        <th>0</th>
                        <th>
                            <input id='createName' type='text' class='form-control'/>
                        </th>
                        <th>
                            <input id='createPassword' type='password' class='form-control'/>
                        </th>
                        <th>
                            <input id='createIsAdmin' type='checkbox' class='form-check-input ms-0'/>
                        </th>
                        <th>---</th>
                        <th>
                            <button id='createButton' type='button' class='btn btn-secondary ms-1' title='create'>
                                <i class='fas fa-plus'></i>
                            </button>
                        </th>
                    </tr>
                    for (var i = 0; i < Model.Count; i++)
                    {
                        var userItem = Model[i];
                        <tr>
                            <th scope='row'>@(i + 1)</th>
                            <td class="text-break">@userItem.Username.Trim()</td>
                            <td>**************</td>
                            <td>
                                <input id='isAdmin_@userItem.Username' type='checkbox' class='form-check-input ms-0'
                                       disabled value='@userItem.IsAdmin' @(userItem.IsAdmin ? "checked" : "")/>
                            </td>
                            <td>
                                @{
                                    var products = TempData[TextConstants.TempDataProductsText] as Dictionary<Guid, string>;
                                    if (userItem.ProductsRoles == null || userItem.ProductsRoles.Count == 0)
                                    {
                                        <span>---</span>
                                    }
                                    else
                                    {
                                        foreach (var right in userItem.ProductsRoles)
                                        {
                                            string name = string.Empty;
                                            products?.TryGetValue(right.Item1, out name);
                                            <span>@(name ?? right.Item1.ToString()) (@right.Item2)</span>
                                            <br>
                                        }
                                    }
                                }
                            </td>
                            <td class="w-25">
                                @if (UserRoleHelper.IsUserCRUDAllowed(Context.User as User))
                                {
                                    <button id='delete_@userItem.Username'
                                            type='button' class='btn btn-secondary ms-1' title='delete'>
                                        <i class='fas fa-trash-alt'></i>
                                    </button>
                                }
                                <button id='change_@userItem.Username'
                                        type='button' class='btn btn-secondary ms-1' title='change'>
                                    <i class='fas fa-user-edit'></i>
                                </button>
                                
                                <button disabled id='ok_@userItem.Username'
                                        type='button' class='btn btn-secondary ms-1' title='ok'>
                                    <i class='fas fa-check'></i>
                                </button>
                                
                                <button disabled id='cancel_@userItem.Username'
                                        type='button' class='btn btn-secondary ms-1' title='cancel'>
                                    <i class='fas fa-times'></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="display: inline-table">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteLabel">Remove user</h5>
            </div>

            <div id="modalDeleteBody" class="modal-body text-nowrap">

            </div>

            <div class="modal-footer">
                <button id="closeDeleteButton" type="button" class="btn btn-secondary" data-bs-dismiss="modalDelete">Close</button>
                <button id="confirmDeleteButton" type="button" class="btn btn-secondary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    function createData(userName, password, role, isAdmin, products) {
        return {
            "Username": userName,
            "Password": password,
            "Role": Number(role),
            "IsAdmin": isAdmin,
            "ProductKeys": products
        }
    }

    //fix checked attribute
    $('#createIsAdmin').on('click', function () {
        if (this.checked)
            this.setAttribute("checked", "checked");
        else this.removeAttribute("checked");
    });

    $('[id^=isAdmin_]').on('click', function () {
        if (this.checked)
            this.setAttribute("checked", "checked");
        else this.removeAttribute("checked");
    });

    //create action
    $('#createButton').on('click', function () {
        username = $('#createName').val();
        password = $('#createPassword').val();
        role = $('#createRole').val();
        isAdmin = $('#createIsAdmin').is(":checked");

        var data = createData(username, password, role, isAdmin, null);
        
        $.ajax({
            type: 'POST',
            url: createAction,
            data: JSON.stringify(data),
            contentType: 'application/json',
            cache: false,
            async: true
        }).done(function(result) {
            document.location.reload();
        });
    });

    //delete action
    $('[id^=delete_]').on('click', function () {
        username = this.id.substring('delete_'.length, this.id.length);
        //console.log(username);

        $('#modalDeleteBody').empty();
        $('#modalDeleteBody').append('Do you really want to remove "' + username.substring(0,100) + '" user?');

        var modal = new bootstrap.Modal(document.getElementById('modalDelete'));
        modal.show();

        //modal confirm
        $('#confirmDeleteButton').on('click', function () {
            modal.hide();
            
            let data = createData(username)
            
            $.ajax({//AccountController -> RemoveUser
                type: 'POST',
                url: deleteAction,
                data: JSON.stringify(data),
                contentType: 'application/json',
                cache: false,
                async: true,
                success: function () {
                    document.location.reload();
                }
            });
        });

        //modal close
        $('#closeDeleteButton').on('click', function () {
            modal.hide();
        });
    });

    //change action
    $('[id^=change_]').on('click', function () {
        username = this.id.substring('change_'.length, this.id.length);

        $('[id^=role_]').attr('disabled', true);
        $('[id^=ok_]').attr('disabled', true);
        $('[id^=cancel_]').attr('disabled', true);
        $('[id^=isAdmin_]').attr('disabled', true);

        $('#role_' + username).removeAttr("disabled");
        $('#ok_' + username).removeAttr("disabled");
        $('#cancel_' + username).removeAttr("disabled");
        $('#isAdmin_' + username).removeAttr("disabled");
    });

    $('[id^=cancel_]').on('click', function() {
        document.location.reload();
    });

    $('[id^=ok_]').on('click', function () {
        username = this.id.substring('ok_'.length, this.id.length);
        role = $('#role_' + username).val();
        isAdmin = $('#isAdmin_' + username).is(":checked");

        var data = createData(username, null, role, isAdmin, null);
        $.ajax({
            type: 'POST',
            url: updateAction,
            data: JSON.stringify(data),
            contentType: 'application/json',
            cache: false,
            async: true
        }).done(function (result) {
            document.location.reload();
        })
    });

</script>