@using HSMServer.Model.DataAlerts
@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Helpers
@using HSMServer.Model.ViewModel

@model NodeInfoBaseViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var entity = Model is SensorInfoViewModel ? "sensor" : "sensor(s)";
}


@*<div class="d-flex justify-content-between align-items-center">
    <label class="col-form-label fw-bold">Alerts:</label>
    <a id="commentHelp" data-bs-toggle="popover" title="Custom comment variables" data-bs-html="true" data-bs-content="@DataAlertCommentHelper.CreateCommentHelp()"
       class="d-none" style="color: #0366d6; cursor: pointer; text-decoration: underline;">
        Comment help
    </a>
</div>*@

@*<div id="timeToLive_label" class="ms-3">
    If timeout is <b>@Model.ExpectedUpdateInterval.DisplayInterval</b> then send comment <i>@Model.TTLCommentTemplate</i> with icon <i class='fa-solid fa-hourglass-end mx-1'></i> and @AlertPredefined.Statuses[Model.TTLStatus] sensor status
</div>*@

@*<div id="timeToLive_inputGroup" class="input-group mb-1 d-none">
    <label class="input-group-text">If timeout is <i class='fas fa-question-circle mx-2' title='Time format: dd.hh:mm:ss min value 00:01:00. If the sensor doesn`t receive new data within the specified time interval, a notification sends'></i></label>
    <div class="w-20">
        <partial name="_TimeIntervalSelect" for="ExpectedUpdateInterval" />
    </div>

    <label class="input-group-text">then send comment</label>
    <input type="text" class="form-control w-20" placeholder="template" asp-for="TTLCommentTemplate" required>

    <label class="input-group-text">with icon <i class='fa-solid fa-hourglass-end mx-1'></i> and</label>
    <select class="form-select w-10" asp-for="TTLStatus" asp-items="@AlertPredefined.Statuses.Select(s => new SelectListItem(s.Value, $"{s.Key}")).ToList()"></select>
    <label class="input-group-text">sensor status</label>
</div>*@


@foreach (var (type, alerts) in Model.DataAlerts)
{
    <div id="dataAlertsList_@type" class="@(alerts.Count == 0 ? "d-none" : string.Empty)">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <label class="col-form-label fw-bold">Alerts:</label>
                <a id="addDataAlert" href="javascript:addDataAlert('@type', '@Model.EncodedId');" class="d-none mx-2">
                    <i class="fa-solid fa-plus"></i> Add
                </a>
            </div>
            <a id="commentHelp" data-bs-toggle="popover" title="Custom comment variables" data-bs-html="true" data-bs-content="@DataAlertCommentHelper.CreateCommentHelp()"
               class="d-none" style="color: #0366d6; cursor: pointer; text-decoration: underline;">
                Comment help
            </a>
        </div>

        @foreach (var alert in alerts)
        {
            @await Html.PartialAsync("_DataAlert", alert)
        }
    </div>
}


<script>
    $(document).ready(function() {
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        var popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl);
        });
    });

    $('#commentHelp').on('show.bs.popover', () => {
        $('html').on('click', hideNotFocusedHelp);
    });

    $('#commentHelp').on('hide.bs.popover', () => {
        $('html').off('click', hideNotFocusedHelp);
    });

    function hideNotFocusedHelp(e) {
        if (!$(e.target).parents().is('.popover')) {
            $('#commentHelp').popover('hide');
        }
    }

    function addDataAlert(type, entityId) {
        $.ajax({
            url: `@Url.Action(nameof(HomeController.AddDataPolicy), ViewConstants.HomeController)?type=${type}&sensorId=${entityId}`,
            cache: false
        }).done(function (viewData) {
            $(`#dataAlertsList_${type}`).append(viewData);
        });
    }
</script>