@using HSMServer.Model.Controls
@using HSMServer.Notifications
@using HSMServer.Extensions
@using System
@using System.Collections.Generic

@model DefaultChatViewModel

@inject ITelegramChatsManager ChatsManager

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var chats = new Dictionary<Guid, TelegramChat>();
    foreach (var chat in ChatsManager.GetValues())
    {
        if (Model.AvailableChats.Contains(chat.Id))
            chats.Add(chat.Id, chat);
    }

    var selectedChatName = chats.TryGetValue(Model.SelectedChat, out var selectedChat) ? selectedChat.Name : DefaultChatViewModel.NotInitialized;
    var displayedFromParentChat = chats.TryGetValue(Model.ParentChat, out var parentChat) ? $"From parent ({parentChat.Name})" : $"From parent ({DefaultChatViewModel.NotInitialized})";

    var chatsList = chats.Values.ToList();
}


<div class="d-flex flex-row text-nowrap align-items-center ms-3">
    <span class="meta-info-label">Default telegram chat</span>

    <span id="labelDefaultChat" class="meta-info-value">@(Model.IsFromParent ? displayedFromParentChat : selectedChatName)</span>
    <div id="defaultChatControl" class="d-none meta-info-interval">
        <select asp-for="SelectedChat" class="selectpicker">
            @if (Model.HasParentValue)
            {
                <option value="null" selected="@Model.IsFromParent">@displayedFromParentChat</option>
            }

            <option value="@Guid.Empty" selected="@(Model.SelectedChat == Guid.Empty)">@DefaultChatViewModel.NotInitialized</option>

            <option data-divider="true"></option>
            <option disabled>Groups</option>
            @foreach (var chat in chatsList.GetGroups())
            {
                <option value="@chat.Id" selected="@Model.ChatIsSelected(chat)">@chat.Name</option>
            }

            <option data-divider="true"></option>
            <option disabled>Users</option>
            @foreach (var chat in chatsList.GetPrivates())
            {
                <option value="@chat.Id" selected="@Model.ChatIsSelected(chat)">@chat.Name</option>
            }
        </select>
    </div>

    <i class='fas fa-question-circle mx-2' title='Telegram chat that will be default for new sensors.'></i>
</div>


<script>
     $(document).ready(function () {
        $("select[name='SelectedChat']").selectpicker();
     });
</script>
