@using HSMServer.Model.Controls
@using HSMServer.Notifications
@using HSMServer.Extensions
@using System
@using System.Collections.Generic

@model DefaultChatViewModel

@inject ITelegramChatsManager ChatsManager

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var emptyValue = DefaultChatViewModel.EmptyValue;
    var displayName = Model.GetCurrentDisplayValue(ChatsManager.GetValues(), out var allChats);
    var parentName = Model.GetParentDisplayValue(allChats);
}


<div class="d-flex flex-row text-nowrap align-items-center ms-3">
    <span class="meta-info-label">Default telegram chat</span>

    <span id="labelDefaultChat" class="meta-info-value">@displayName</span>
    <div id="defaultChatControl" class="d-none meta-info-interval">
        <select asp-for="SelectedChat" class="selectpicker">
            @if (Model.HasParent)
            {
                <option value="" selected="@Model.IsFromParent">@parentName</option>
            }

            <option value="@emptyValue.Id" selected="@Model.IsSelectedChat(emptyValue.Id)">@emptyValue.Name</option>

            <option data-divider="true"></option>
            <option disabled>Groups</option>
            @foreach (var chat in allChats.GetGroups())
            {
                <option value="@chat.Id" selected="@Model.IsSelectedChat(chat.Id)">@chat.Name</option>
            }

            <option data-divider="true"></option>
            <option disabled>Users</option>
            @foreach (var chat in allChats.GetPrivates())
            {
                <option value="@chat.Id" selected="@Model.IsSelectedChat(chat.Id)">@chat.Name</option>
            }
        </select>
    </div>

    <i class='fas fa-question-circle mx-2' title='Telegram chat that will be default for new sensors.'></i>
</div>


<script>
     $(document).ready(function () {
       $("select[name='DefaultChats.SelectedChat']").selectpicker();
     });
</script>
