@using Microsoft.AspNetCore.Mvc.TagHelpers

@model HSMServer.Model.ViewModel.SensorInfoViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@if (Model != null)
{
    <form id="editSensorStatus_form" asp-action="" method="post">
        <input class="d-none" asp-for="EncodedId" />

        <div class="modal fade" tabindex="-1" role="dialog" id="editSensorStatus_modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="text-break">
                            <h5 class="modal-title">Edit sensor status</h5>
                            <h6 class="modal-title">@Model.Path</h6>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between modal-body">
                        <div class="col-auto">
                            <label asp-for="@Model.Status">Current status</label>
                            <input asp-for="@Model.Status" class="form-control" value="@Model.Status" disabled/>
                        </div>
                        <span class="align-self-end pb-2">-></span>
                        <div class="col-auto">
                            <label asp-for="@Model.Status">New status</label>
                            <input asp-for="@Model.Status" class="form-control" value="@Model.Status" disabled/>
                        </div>
                        <div>
                            Accesskey dropdown
                        </div>
                        <textarea>

                        </textarea>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary col-2" type="submit">OK</button>
                        <button class="btn btn-secondary col-2" type="button" onclick="hideEditSensorModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}


<script>
   $(document).on("submit", "#ignoreNotifications_form", function (event) {
        event.preventDefault();
        event.stopImmediatePropagation();

        $.ajax({
            url: $("#ignoreNotifications_form").attr("action"),
            type: 'POST',
            data: new FormData(this),
            datatype: 'html',
            processData: false,
            contentType: false,
            async: true
        }).done(function () {
            hideIgnoreNotificationsModal();
            updateSelectedNodeData();
            updateTreeTimer();
        });
    });

    function hideEditSensorModal() {
        $('#editSensorStatus_modal').modal('hide');
    }
</script>
