@using HSMServer.Core
@using HSMServer.Core.Cache
@using HSMServer.Core.Model
@using HSMServer.Model.Authentication
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model HSMServer.Model.ViewModel.EditSensorStatusViewModal

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject ITreeValuesCache Cache

@{
    var rootProduct = Model.RootProductId == default 
        ? Cache.GetProductByName(Model.RootProductName) 
        : Cache.GetProduct(@Model.RootProductId);

    var accesskeys = rootProduct.AccessKeys.Values
        .Where(x => (x.Permissions & KeyPermissions.CanSendSensorData) != 0)
        .Select(x => new SelectListItem() {Value = x.Id.ToString(), Text = x.DisplayName});

    var isAccessKeysEmpty = accesskeys.Count() == 0;

    var user = User as User;
}

@if (Model != null)
{
    <input class="d-none" form="editSensorStatus_form" asp-for="SensorId"/>
    <input class="d-none" form="editSensorStatus_form" asp-for="RootProductId"/>
    <input class="d-none" form="editSensorStatus_form" asp-for="ModelHeader"/>
    <input class="d-none" form="editSensorStatus_form" asp-for="Path"/>

    <div class="modal-header">
        <div class="text-break">
            <h5 class="modal-title">@Model.ModelHeader</h5>
            <h6 class="modal-title">@Model.Path</h6>
        </div>
    </div>

    <div class="d-flex modal-body flex-column" id="editSensorStatusModalBody">
        <div class="form-group">
            <div class="justify-content-between d-flex">
                <div class="col-auto">
                    <label asp-for="@Model.Status"></label>
                    <input asp-for="@Model.Status" form="editSensorStatus_form" class="form-control" value="@(Model.Status.ToSelectIcon() + Model.Status)" disabled/>
                </div>
                <span class="align-self-end pb-2">-></span>
                <div class="col-auto">
                    <label asp-for="@Model.NewStatus"></label>
                    <select asp-for="@Model.NewStatus" form="editSensorStatus_form" class="form-select d-inline-block">
                        @foreach (var sensor in Html.GetEnumSelectList<SensorStatus>())
                        {
                            <option value="@sensor.Value">
                                @(((SensorStatus)int.Parse(sensor.Value)).ToSelectIcon())
                                @sensor.Text
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group mt-2">
            <div class="d-flex flex-row align-items-center">
                <label class="form-label mb-0">Requester:</label>
                <span class="ms-1" disabled>@user.Name</span>
            </div>
            <div class="d-flex flex-column mt-2">

                <label class="form-label" asp-for="@Model.SelectedAccessKey"></label>
                <div class="d-flex flex-row">
                    <select class="form-control form-select" asp-for="@Model.SelectedAccessKey" form="editSensorStatus_form" asp-items="@accesskeys" disabled="@(isAccessKeysEmpty ? true : false)"></select>
                    @if (isAccessKeysEmpty)
                    {
                        <button onclick="" class="d-flex btn btn-link me-0 pe-0">
                            Add
                        </button>
                    }
                </div>

            </div>
            <div class="d-flex flex-column mt-2">
                <label class="form-label" asp-for="@Model.Reason"></label>
                <textarea class="form-control" asp-for="@Model.Reason" form="editSensorStatus_form"></textarea>
                <span asp-validation-for="Reason" form="editSensorStatus_form"></span>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary col-2" type="submit" form="editSensorStatus_form">OK</button>
        <button class="btn btn-secondary col-2" type="button" onclick="hideEditSensorModal()">Cancel</button>
    </div>
}


<script>
   $(document).on("submit", "#editSensorStatus_form", function (event) {
        event.preventDefault();
        event.stopImmediatePropagation();
    
        $.ajax({
            url: $("#editSensorStatus_form").attr("action"),
            type: 'POST',
            data: new FormData(this),
            datatype: 'html',
            processData: false,
            contentType: false,
            async: true,
            success: function (response) {
                 $.ajax({
                     url: '/api/Sensors/list',
                     headers: { 'key': response.key },
                     type: 'POST',
                     contentType: 'application/json',
                     dataType: 'JSON',
                     data: JSON.stringify([response.sensor]),
                     async: true,
                     success: function () {
                        hideEditSensorModal();
                     }
                 })
            },
            error: function (jqXHR, exception) {
               
                    $('span.field-validation-valid').each(function () {
                        let errFor = $(this).data('valmsgFor'); 
                        if (jqXHR.responseJSON[errFor] !== undefined) {
                           $(this).removeClass('field-validation-valid')
                           $(this).addClass('field-validation-error')
                           $(this).html(jqXHR.responseJSON[errFor][0]);
                        }
                    })
                
            }
        })
    });

    function hideEditSensorModal() {
        $('#editSensorStatus_modal').modal('hide');
    }
</script>