@using HSMServer.Extensions
@using HSMServer.Model.TreeViewModel
@using HSMServer.Model.Folders

@model List<NodeViewModel>


<div class="accordion">
    @if (Model.Count > 0)
    {
        var title = Model.FirstOrDefault() is ProductNodeViewModel product
            ? product.Parent is FolderModel ? "Products" : "Nodes"
            : "Sensors";
        var accordionId = $"grid{title}";

        <div class="accordion-item custom-accordion-item">
            <h2 class="accordion-header" id="custom_accordion_header">
                <button id='grid-accordion_@accordionId' class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_@accordionId" aria-expanded='false'>
                    @title
                </button>
            </h2>
            <div id="flush-collapse_@accordionId" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div class="grid-container mw-100">
                        @foreach (var element in Model)
                        {
                            <div id="gridCell_@element.EncodedId" class="@element.Status.ToCssGridCellClass() p-1 grid-cell clickable-node"
                                 title="@element.Tooltip" onclick="activateNode('@ViewBag.ParentId', '@element.EncodedId')">
                                @element.Name.GetShortCellName()
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>