@using HSMServer.Extensions

@model HSMServer.Model.ViewModel.GridViewModel


<div class="accordion">
    @if (Model.VisibleItems.Count > 0)
    {
        var title = Model.VisibleItems.FirstOrDefault().GetChildrenAccordionTitle();
        var accordionId = $"list{title}";

        <div class="accordion-item custom-accordion-item">
            <h2 class="accordion-header" id="custom_accordion_header">
                <button id='list-accordion_@accordionId' class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_@accordionId" aria-expanded='true'>
                    @title
                </button>
            </h2>
            <div id="flush-collapse_@accordionId" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <div>
                        @foreach (var element in Model.VisibleItems)
                        {
                            @await Html.PartialAsync("_NodeAccordion", element)
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex mt-2 justify-content-between @(Model.IsPaginationDisplayed ? "" : "d-none")">
            <ul class="pagination position-relative" style="left: 45%;">
                <li id="prevPageButton" class="page-item button-link">
                    <a class="page-link" aria-label="Previous" onclick="getListPage(@(Model.PageNumber - 1), @Model.PageSize, '@accordionId')">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a id="pageNumber_@accordionId" class="page-link">@(Model.PageNumber + 1)</a>
                </li>
                <li id="nextPageButton" class="page-item button-link">
                    <a class="page-link" aria-label="Next" onclick="getListPage(@(Model.PageNumber + 1), @Model.PageSize, '@accordionId')">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
            <div class="d-flex align-self-baseline gap-1">
                <input class="form-control" id="pageSize_@accordionId" type="number" value="@Model.PageSize" style="width: 5rem"/>
                <button class="btn btn-secondary" onclick="getListPage(@(Model.PageNumber), $('#pageSize_@accordionId')[0].value, '@accordionId')">Apply</button>
            </div>
        </div>
    }
</div>