@using HSMServer.Core.Model
@using HSMServer.Extensions

@model HSMServer.Model.TreeViewModels.SensorNodeViewModel

@{
    const string hourPeriod = "hour";
    const string hourShortPeriod = "1H";
    const string dayPeriod = "day";
    const string dayShortPeriod = "1D";
    const string threeDaysPeriod = "three_days";
    const string threeDaysShortPeriod = "3D";
    const string weekPeriod = "week";
    const string weekShortPeriod = "1W";
    const string monthPeriod = "month";
    const string monthShortPeriod = "1M";
    const string allPeriod = "all";
    const string allShortPeriod = "All";

    var sensorId = Model.EncodedId;

    var graphElementId = $"graph_{sensorId}";
    var graphParentDivId = $"graph_parent_{sensorId}";
    var valuesElementId = $"values_{sensorId}";
    var valuesParentDivId = $"values_parent_{sensorId}";
}


<div class='accordion' id='sensorData_@sensorId'>
    <div class='accordion-item'>
        @if (Model.SensorType == SensorType.File)
        {
            <div id='collapse_@sensorId' class='accordion-collapse' data-bs-parent='#sensorData_@sensorId'>
                <div class='accordion-body'>
                    <div class="w-100">
                        <div class='row justify-content-between'>
                            <div class='row col-md-auto'>
                                <div class='col-md-auto sensor-icon-without-padding'>
                                    <li id='status_@sensorId' class='@Model.Status.ToIcon() sensor-icon-with-margin'
                                        title='Status: @Model.Status'>
                                    </li>
                                    <span id='validation_@sensorId'>
                                        @if (Model.IsValidationErrorVisible)
                                        {
                                            <li id='errorIcon_@sensorId' class='fas fa-exclamation-triangle' style='margin-right:5px' title='@Model.ValidationError'></li>
                                        }
                                    </span>
                                </div>
                                @Model.Name
                            </div>
                            <input id='sensor_type_@sensorId' value='@((int)Model.SensorType)' style='display: none'/>
                            <div class='col-md-auto time-ago-div me-1' id='update_@sensorId'>updated @Model.UpdateTime.GetTimeAgo()</div>
                        </div>
                        <div id="value_@sensorId" class="text-break">
                            @Model.ShortStringValue
                        </div>
                    </div>
                    @if (Model.LastValue != null)
                    {
                        <div class='row'>
                            <div class='col-md-auto'>
                                <button id='button_view_@sensorId' class='button-view-file-sensor btn btn-secondary' title='View'>
                                    <i class='fas fa-eye'></i>
                                </button>
                            </div>
                            <div class='col'>
                                <input style='display: none;' id='fileType_@sensorId' value='@Model.FileNameString'/>
                                <button id='button_download_@sensorId' class='button-download-file-sensor-value btn btn-secondary' title='Download'>
                                    <i class='fas fa-file-download'></i>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <h2 class='accordion-header' id='heading_@sensorId'>
                <button id='accordion_@sensorId' class='accordion-button collapsed' type='button' data-bs-toggle='collapse'
                        data-bs-target='#collapse_@sensorId' aria-expanded='false' aria-controls='collapse_@sensorId'>
                    <div class="w-100">
                        <div class='row justify-content-between'>
                            <div class='row col-md-auto'>
                                <div class='col-md-auto sensor-icon-without-padding'>
                                    <li id='status_@sensorId' class='@Model.Status.ToIcon() sensor-icon-with-margin' title='Status: @Model.Status'></li>
                                    <span id='validation_@sensorId'>
                                        @if (Model.IsValidationErrorVisible)
                                        {
                                            <li id='errorIcon_@sensorId' class='fas fa-exclamation-triangle' style='margin-right:5px' title='@Model.ValidationError'></li>
                                        }
                                    </span>
                                </div>
                                @Model.Name
                            </div>
                            <div class='col-md-auto'>
                                <input id='sensor_type_@sensorId' value='@((int)Model.SensorType)' style='display: none'/>
                                <div id='update_@sensorId' class='time-ago-div me-1'>updated @Model.UpdateTime.GetTimeAgo()</div>
                            </div>
                        </div>
                        <div class="text-break" id='value_@sensorId'>
                            @Model.ShortStringValue
                        </div>
                    </div>
                </button>
            </h2>

            <div id='collapse_@sensorId' class='accordion-collapse collapse text-break' aria-labelledby='heading_@sensorId' data-bs-parent='#sensorData_@sensorId'>
                <div class='accordion-body p-3'>
                    <div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="d-inline me-2">History period:</div>

                                <div class='form-check form-check-inline'>
                                    <input class='form-check-input' type='radio' name='group_@sensorId' id='radio_@(hourPeriod)_@(sensorId)' checked/>
                                    <label class='form-check-label' for='@(hourPeriod)_radio_@(sensorId)'>@hourShortPeriod</label>
                                </div>
                                <div class='form-check form-check-inline'>
                                    <input class='form-check-input' type='radio' name='group_@sensorId' id='radio_@(dayPeriod)_@(sensorId)'/>
                                    <label class='form-check-label' for='@(dayPeriod)_radio_@(sensorId)'>@dayShortPeriod</label>
                                </div>
                                <div class='form-check form-check-inline'>
                                    <input class='form-check-input' type='radio' name='group_@sensorId' id='radio_@(threeDaysPeriod)_@(sensorId)'/>
                                    <label class='form-check-label' for='@(threeDaysPeriod)_radio_@(sensorId)'>@threeDaysShortPeriod</label>
                                </div>
                                <div class='form-check form-check-inline'>
                                    <input class='form-check-input' type='radio' name='group_@sensorId' id='radio_@(weekPeriod)_@(sensorId)'/>
                                    <label class='form-check-label' for='@(weekPeriod)_radio_@(sensorId)'>@weekShortPeriod</label>
                                </div>
                                <div class='form-check form-check-inline'>
                                    <input class='form-check-input' type='radio' name='group_@sensorId' id='radio_@(monthPeriod)_@(sensorId)'/>
                                    <label class='form-check-label' for='@(monthPeriod)_radio_@(sensorId)'>@monthShortPeriod</label>
                                </div>
                                <div class='form-check form-check-inline'>
                                    <input class='form-check-input' type='radio' name='group_@sensorId' id='radio_@(allPeriod)_@(sensorId)'/>
                                    <label class='form-check-label' for='@(allPeriod)_radio_@(sensorId)'>@allShortPeriod</label>
                                </div>
                            </div>

                            <div class='btn-group'>
                                <button class='btn btn-secondary btn-sm dropdown-toggle' type='button' data-bs-toggle='dropdown'>Actions</button>
                                <ul class='dropdown-menu'>
                                    <li>
                                        <a class='dropdown-item' href='#' id='button_export_csv_@sensorId'>Export to CSV</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mt-2">
                            <div id='no_data_@sensorId' style='display: none'>
                                <p>No data for the specified period</p>
                            </div>
                            <div id='history_@sensorId'>
                                @if (Model.IsPlottingSupported)
                                {
                                    <ul class='nav nav-tabs'>
                                        <li class='nav-item'>
                                            <a id='link_graph_@sensorId' class='nav-link active' data-bs-toggle='tab' href='#@graphParentDivId'>Graph</a>
                                        </li>
                                        <li class='nav-item'>
                                            <a id='link_table_@sensorId' class='nav-link' data-bs-toggle='tab' href='#@valuesParentDivId'>Table</a>
                                        </li>
                                    </ul>
                                    <div class='tab-content'>
                                        <div class='tab-pane fade show active' id=@graphParentDivId>
                                            <div id='@graphElementId'></div>
                                        </div>
                                        <div class='tab-pane fade' id=@valuesParentDivId>
                                            <div id='@valuesElementId'></div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div id='values_@sensorId'></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>