@using HSMServer.Extensions
@using HSMServer.Core.Model.Authentication

@model HSMServer.Model.TreeViewModels.TreeSensorViewModel

@{
    var userNotifications = (User as User).Notifications;
}


<li id='@Model.EncodedId' title='@Model.Tooltip' data-jstree='{"title" : "@Model.Title", "icon" : "@Model.Status", "time" : "@Model.UpdateTime"}'>
    <span class="@Model.StateCssClass">@Html.Raw(Model.Name.GetShortNodeName())</span>

    @if (userNotifications.IsSensorIgnored(Model.Id))
    {
        <span>
            <i id="@(Model.EncodedId)_ignoreNotifications" class="fa-solid fa-bell-slash fa-xs"></i>
        </span>
    }
    else if (userNotifications.IsSensorEnabled(Model.Id))
    {
        <span>
            <i id="@(Model.EncodedId)_notifications" class="fab fa-telegram fa-xs"></i>
        </span>
    }
</li>