@using HSMServer.Constants
@using HSMServer.HtmlHelpers
@using HSMServer.Core.Model.Authentication

@model HSMServer.Model.TreeViewModels.ProductNodeViewModel

<li id='@Model.EncodedId' title='@Model.Name &#013;@Model.UpdateTime.ToString(ViewConstants.NodeUpdateTimeFormat)' data-jstree='{"icon" : "fas fa-circle @ViewHelper.GetStatusHeaderColorClass(Model.Status)", "time" : "@Model.UpdateTime.ToString(ViewConstants.NodeUpdateTimeFormat)"}'>@Model.GetShortName(Model.Name) (@Model.InnerFilteredSensorsCount sensors)    @if (Model.SensorsWithNotificationsCount > 0)
    {
        <span>
            <i id="@(Model.EncodedId)_notifications" class="fab fa-telegram fa-xs"></i>
            <input id='@(Model.EncodedId)_partialNotifications' value='@((Model.SensorsWithNotificationsCount < Model.InnerFilteredSensorsCount).ToString())' style='display: none' />
        </span>
    }

    @if (Model.Nodes != null)
        @foreach (var (_, child) in Model.Nodes)
        {
            @if (child.InnerFilteredSensorsCount != 0)
            {
                <ul>@await Html.PartialAsync("_TreeNode", child)</ul>
            }
        }

    @if (Model.FilteredSensors != null && Model.FilteredSensors.Count != 0)
    {
        <ul>
            @foreach (var sensor in Model.FilteredSensors)
            {
                <li id='@sensor.EncodedId' title='@sensor.Name &#013;@sensor.UpdateTime.ToString(ViewConstants.NodeUpdateTimeFormat)' data-jstree='{"icon" : "fas fa-circle @ViewHelper.GetStatusHeaderColorClass(sensor.Status)", "time" : "@sensor.UpdateTime.ToString(ViewConstants.NodeUpdateTimeFormat)"}'>@Model.GetShortName(sensor.Name)
                    @if ((User as User).Notifications.IgnoredSensors.ContainsKey(sensor.Id))
                    {
                        <span>
                            <i id="@(sensor.EncodedId)_ignoreNotifications" class="fa-solid fa-bell-slash fa-xs"></i>
                        </span>
                    }
                    else if (sensor.IsNotificationsEnabled)
                    {
                        <span>
                            <i id="@(sensor.EncodedId)_notifications" class="fab fa-telegram fa-xs"></i>
                        </span>
                    }
                </li>
            }
        </ul>
    }
</li>
