@using HSMServer.Extensions
@using HSMServer.Model.UserTreeShallowCopy

@model SensorShallowModel

@{
    var data = Model.Data;
}


<li id='@data.EncodedId' title='@data.Tooltip' data-jstree='@Model.ToJSTree()'>
    <span class="@data.State.ToCssClass()">@Html.Raw(data.Name.GetShortNodeName())</span>

    @if (Model.IsAccountsEnable && !Model.Parent.IsAccountsEnable)
    {
        <span>
            <img class="tree-png-icon" src="~/dist/user.png" alt="!"/>
        </span>
    }
    else if (!Model.IsMutedState && Model.IsAccountIgnoreIconShow && !Model.Parent.AccountState.IsAllIgnored)
    {
        <span>
            <img class="tree-png-icon" src="~/dist/user-crossed.png" alt="!"/>
        </span>
    }
    
    @if (Model.IsGroupsEnable && !Model.Parent.IsGroupsEnable)
    {
        <span>
            <img class="tree-png-icon" src="~/dist/users.png" alt="!"/>
        </span>
    }
    else if (!Model.IsMutedState && Model.IsGroupIgnoreIconShow && !Model.Parent.GroupState.IsAllIgnored)
    {
        <span>
            <img class="tree-png-icon" src="~/dist/users-crossed.png" alt="!"/>
        </span>
    }
</li>