@using HSMServer.Extensions
@using HSMServer.Model.Authentication
@using HSMServer.Model.UserTreeShallowCopy
@using HSMServer.Model.ViewModel

@model SensorShallowModel

@{
    var data = Model.Data;
    var showIcons = (User as User).TreeFilter.ByVisibility.Icons.Value;
}


<li id='@data.EncodedId drag-drop' title='@data.Tooltip' data-jstree='@Model.ToJSTree()'>
    <span class="@data.State.ToCssClass()">
        @await Html.PartialAsync("~/Views/Home/Alerts/_AlertIconsList.cshtml", new AlertIconsViewModel(data.AlertIcons))
        @Html.Raw(data.Name.GetShortNodeName())
    </span>

    @if (showIcons)
    {
        @if (Model.IsGrafanaEnabled && !Model.Parent.IsGrafanaEnabled)
        {
            <span>
                <img class="tree-png-icon" src="~/dist/grafana.svg" alt="!" title="Grafana" />
            </span>
        }
    }
</li>