@using HSMServer.Constants
@using HSMServer.Extensions
@using HSMServer.Core.Model.Authentication

@model HSMServer.Model.TreeViewModels.ProductNodeViewModel

@{
    var user = User as User;
    var userNotifications = user.Notifications;
}

<li id='@Model.EncodedId' title='@Model.Tooltip' data-jstree='{"icon" : "fas fa-circle @Model.Status.ToIconClass()", "time" : "@Model.UpdateTime.ToDefaultFormat()"}'>
    @Model.GetShortName(Model.Name) (@Model.InnerFilteredSensorsCount sensors)
    @if (Model.SensorsWithNotificationsCount > 0)
    {
        <span>
            <i id="@(Model.EncodedId)_notifications" class="fab fa-telegram fa-xs"></i>
            <input id='@(Model.EncodedId)_partialNotifications' value='@((Model.SensorsWithNotificationsCount < Model.InnerFilteredSensorsCount).ToString())' style='display: none' />
        </span>
    }

    @if (Model.Nodes != null)
        @foreach (var (_, child) in Model.Nodes)
        {
            @if (child.InnerFilteredSensorsCount != 0)
            {
                <ul>@await Html.PartialAsync("_TreeNode", child)</ul>
            }
        }

    @if ((Model.Sensors?.Count ?? 0) > 0)
    {
        <ul>
            @foreach (var (_, sensor) in Model.Sensors)
            {
                <li id='@sensor.EncodedId' title='@sensor.Tooltip' data-jstree='{"icon" : "fas fa-circle @sensor.Status.ToIconClass()", "time" : "@sensor.UpdateTime.ToDefaultFormat()"}'>
                    @Model.GetShortName(sensor.Name)
                    @if (userNotifications.IgnoredSensors.ContainsKey(sensor.Id))
                    {
                        <span>
                            <i id="@(sensor.EncodedId)_ignoreNotifications" class="fa-solid fa-bell-slash fa-xs"></i>
                        </span>
                    }
                    else if (userNotifications.EnabledSensors.Contains(sensor.Id))
                    {
                        <span>
                            <i id="@(sensor.EncodedId)_notifications" class="fab fa-telegram fa-xs"></i>
                        </span>
                    }
                </li>
            }
        </ul>
    }
</li>
