@using HSMServer.Extensions
@using HSMServer.Model.UserTreeShallowCopy

@model NodeShallowModel

@{
    var data = Model.Data;
}


<li id='@data.EncodedId' title='@data.Tooltip' data-jstree='@Model.ToJSTree()'>
    <span class="@(Model.IsMutedState ? "muted-state-text" : "")"> @Html.Raw(data.Name.GetShortNodeName()) @Model.SensorsCountString</span>

    @if (!data.IsEmpty && !Model.IsMutedState)
    {
        @if (data.Notifications.Telegram.Chats.Count > 0)
        {
            @if (Model.IsAccountsEnable)
            {
                <span>
                    <img class="tree-png-icon" src="~/dist/user.png" alt="!"/>
                </span>
            }
            else if (Model.AccountState.IsAllIgnored)
            {
                <span>
                    <img class="tree-png-icon" src="~/dist/user-crossed.png" alt="!"/>
                </span>
            }
        
            @if (Model.IsGroupsEnable)
            {
                <span>
                    <img class="tree-png-icon" src="~/dist/users.png" alt="!"/>
                </span>
            }
            else if (Model.GroupState.IsAllIgnored)
            {
                <span>
                    <img class="tree-png-icon" src="~/dist/users-crossed.png" alt="!"/>
                </span>
            }
        }
        else
        {
            @if (Model.IsAccountsEnable && !(Model.Parent?.IsAccountsEnable ?? false))
            {
                <span>
                    <img class="tree-png-icon" src="~/dist/user.png" alt="!"/>
                </span>
            }
            else if (Model.AccountState.IsAllIgnored && !(Model.Parent?.AccountState.IsAllIgnored ?? false))
            {
                <span>
                    <img class="tree-png-icon" src="~/dist/user-crossed.png" alt="!"/>
                </span>
            }
        
            @if (Model.IsGroupsEnable && !(Model.Parent?.IsGroupsEnable ?? false))
            {
                <span>
                    <img class="tree-png-icon" src="~/dist/users.png" alt="!"/>
                </span>
            }
            else if (Model.GroupState.IsAllIgnored && !(Model.Parent?.GroupState.IsAllIgnored ?? false))
            {
                <span>
                    <img class="tree-png-icon" src="~/dist/users-crossed.png" alt="!"/>
                </span>
            }
        }
    }

    @foreach (var child in Model.Nodes)
    {
        <ul>@await Html.PartialAsync("_TreeNode", child)</ul>
    }

    @if (Model.Sensors.Count > 0)
    {
        <ul>
            @foreach (var sensor in Model.Sensors)
            {
                @await Html.PartialAsync("_TreeSensor", sensor)
            }
        </ul>
    }
</li>