@using HSMServer.Extensions
@using HSMServer.Model.Authentication

@model HSMServer.Model.TreeViewModels.TreeNodeStateViewModel

@{
    var data = Model.Data;
    var userNotifications = (User as User).Notifications;
    var groupNotifications = Model.Data.NotificationSettings;
}


<li id='@data.EncodedId' title='@data.Tooltip' data-jstree='{"title" : "@data.Title", "icon" : "@data.Status.ToIcon()", "time" : "@data.UpdateTime.ToDefaultFormat()"}'>
    <span>@Html.Raw(data.Name.GetShortNodeName()) @Model.SensorsCountString</span>

    @if (!data.IsEmpty)
    {
        @if (Model.IsAllNotificationsIgnored)
        {
            <span>
                <i id="@(data.EncodedId)_ignoreNotifications" class="fa-solid fa-bell-slash fa-xs"></i>
            </span>
        }
        else if (Model.IsAnyNotificationsEnabled)
        {
            if (userNotifications.EnabledSensors.Count > 0)
            {
                <span>
        <img src="~/dist/user.png" style="height: 1em;width: 1em;" alt=""/>
    </span>
            }

            if (groupNotifications.EnabledSensors.Count > 0)
            {
                <span>
                    <img src="~/dist/users.png" style="height: 1em; width: 1em;"/>
                </span>
            }
            @* <span> *@
            @*     <i id="@(data.EncodedId)_notifications" class="fab fa-telegram fa-xs"></i> *@
            @*     <input id='@(data.EncodedId)_partialNotifications' value='@((!Model.IsAllNotificationsEnabled).ToString())' style='display: none'/> *@
            @*     <i class="fa-solid fa-pen fa-xs"></i> *@
            @* </span> *@
        }
    }

    @if (data.TelegramSettings.Chats.Count > 0)
    {
        <span>
            
            @* <i class="fa-solid fa-user-group"></i> *@
            @* <i class="fa-solid fa-user"></i> *@
            @* <i class="fa-solid fa-user-slash"></i> *@
            @* <i class="fa-solid fa-users-slash"></i> *@
            @* <span class="fa-stack fa-1x"> *@
            @*     *@
            @*     <i class="fa-solid fa-user-group fa-stack-1x"></i> *@
            @*      <i class="fa-solid fa-slash fa-stack-1x" style="z-index: 100000"></i> *@
            @* </span> *@
        </span>
    }

    @foreach (var child in Model.Nodes)
    {
        <ul>@await Html.PartialAsync("_TreeNode", child)</ul>
    }

    @if (Model.Sensors.Count > 0)
    {
        <ul>
            @foreach (var sensor in Model.Sensors)
                                                  @await Html.PartialAsync("_TreeSensor", sensor)
        </ul>
    }
</li>