@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Model.ViewModel
@using HSMServer.UserFilters;

@model UserFilterViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-controller="@ViewConstants.HomeController"
      asp-action="@nameof(HomeController.ApplyFilter)"
      method="post" class="px-2" id="filter" style="display: none;">

    <h6 class="dropdown-header px-0">Update tree interval</h6>
    <div class="d-flex">
        <input type="number" id="treeInterval" asp-for="TreeUpdateInterval" class="form-control" min="5" max="600"
               value="@Model.TreeUpdateInterval" />
        <label for="treeInterval" title="Expected update tree interval" class="form-text ms-2">sec</label>
    </div>
    <div class="dropdown-divider"></div>

    <h6 class="dropdown-header px-0">Status</h6>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="ok" asp-for="HasOkStatus"/>
        <label class="form-check-label" for="ok" title="Ok">
            Ok <i class="fas fa-circle tree-icon-ok"></i>
        </label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="warning" asp-for="HasWarningStatus"/>
        <label class="form-check-label" for="warning" title="Warning">
            Warning <i class="fas fa-circle tree-icon-warning"></i>
        </label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="error" asp-for="HasErrorStatus"/>
        <label class="form-check-label" for="error" title="Error">
            Error <i class="fas fa-circle tree-icon-error"></i>
        </label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="offTime" asp-for="HasOffTimeStatus"/>
        <label class="form-check-label" for="offTime" title="OffTime">
            OffTime <i class="fas fa-circle tree-icon-offTime"></i>
        </label>
    </div>
    <div class="dropdown-divider"></div>


    <h6 class="dropdown-header px-0">History</h6>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="history" asp-for="IsEmptyHistory"/>
        <label class="form-check-label" for="history">
            No data <i class="fa-regular fa-circle"></i>
        </label>
    </div>
    <div class="dropdown-divider"></div>

    <h6 class="dropdown-header px-0">Notifications</h6>
    
    Enabled for:
    <div class="form-check">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="enabledGroup" asp-for="IsGroupNotificationsEnabled" />
            <label class="form-check-label" for="enabledGroup" title="Enabled sensors">
                Groups <img class="tree-png-icon" src="~/dist/users.png" alt="!" />
            </label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="enabledAccount" asp-for="IsAccountNotificationsEnabled" />
            <label class="form-check-label" for="enabledAccount" title="Enabled sensors">
                Accounts <img class="tree-png-icon" src="~/dist/user.png" alt="!" />
            </label>
        </div>
    </div>
    
    Ignored for:
    <div class="form-check">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="ignoredGroup" asp-for="IsGroupNotificationsIgnored" />
            <label class="form-check-label" for="ignoredGroup" title="Ignored sensors">
                Groups <img class="tree-png-icon" src="~/dist/users-crossed.png" alt="!" />
            </label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="ignoredAccount" asp-for="IsAccountNotificationsIgnored" />
            <label class="form-check-label" for="ignoredAccount" title="Ignored sensors">
                Accounts <img class="tree-png-icon" src="~/dist/user-crossed.png" alt="!" />
            </label>
        </div>
    </div>
    
    <div class="dropdown-divider"></div>

    <h6 class="dropdown-header px-0">Sensor state</h6>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="blocked" asp-for="IsMutedSensorsState" />
        <label class="form-check-label muted-state-text" for="blocked" title="Muted sensors">
            Muted sensors
        </label>
    </div>
    <div class="dropdown-divider"></div>

    <h6 class="dropdown-header px-0">Sort By</h6>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="sorting"
               value="@((int)TreeSortType.ByName)" asp-for="TreeSortType"/>
        <label class="form-check-label" for="name">By Name <i class="fas fa-sort-alpha-down"></i></label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="sorting"
               value="@((int)TreeSortType.ByTime)" asp-for="TreeSortType"/>
        <label class="form-check-label" for="time">By Last Update <i class="fas fa-sort-numeric-down-alt"></i></label>
    </div>

    <button id="applyBtn" type="submit" class="btn btn-sm btn-secondary mt-1">Apply</button>
</form>