@using HSMServer.Extensions
@using HSMServer.Model.Authentication
@using HSMServer.Model.UserTreeShallowCopy

@model FolderShallowModel

@{
    var user = User as User;
    var data = Model.Data;

    var showIcons = user.TreeFilter.ByVisibility.Icons.Value;
    var showErrorsCount = user.TreeFilter.ByVisibility.ErrorsCount.Value;
}


<li id='@data.Id' title='@data.Tooltip' data-jstree='@Model.ToJSTree()'>
    @Html.Raw(data.Name.GetShortNodeName())

    @if (!Model.AllDataIsEmpty && showIcons)
    {
        @if (Model.IsGrafanaEnabled)
        {
            <span>
                <img class="tree-png-icon" src="~/dist/grafana.svg" alt="!" title="Grafana" />
            </span>
        }
    }

    @if (showErrorsCount && Model.ErrorsCount > 0)
    {
        <span class="tree-errors-count">@Model.Errors</span>
    }

    @foreach (var child in Model.Products)
    {
        <ul>@await Html.PartialAsync("_TreeNode", child)</ul>
    }
</li>