@using HSMServer.Core.Helpers
@using HSMServer.Core.Model.Authentication
@using HSMServer.Model.ViewModel
@model List<ProductViewModel>

@{
    var user = Context.User as User;
    bool isProductCrudAllowed = UserRoleHelper.IsUserCRUDAllowed(user);
    bool isProductActionAllowed = ProductRoleHelper.IsProductActionAllowed(user?.ProductsRoles);
}

<div class="m-2">
    <div class="row" justify-content-start>
        <div class="col-2">
            <h5 class="mx-4 my-2">Products</h5>
        </div>
    </div>
</div>
<div class="col-xxl">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Key</th>
            <th scope="col" colspan="2"></th>
            <th scope="col">Creation Date</th>
            <th scope="col">Manager</th>
            @if (isProductCrudAllowed || isProductActionAllowed)
            {
                <th scope="col">Action</th>
            }
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (isProductCrudAllowed)
        {
            <tr>
                <th>0</th>
                <th>
                    <input id='createName' type='text' class='form-control'/>
                    <span class="d-none" id='new_product_name_span'></span>
                </th>
                <th>---</th>
                <th></th>
                <th></th>
                <th>---</th>
                <th>---</th>
                <th>
                    <button id='createButton' type='button' class='btn btn-secondary ms-1' title='create'>
                        <i class='fas fa-plus'></i>
                    </button>
                </th>
                <th></th>
            </tr>
        }
        @for (var i = 0; i < Model.Count; i++)
        {
            var product = Model[i];
            <tr>
                <th scope='row'>@(i + 1)</th>
                <td>@product.Name</td>
                <td id='key_@product.Id' value='@product.Id'>@product.Key</td>
                <td>
                    <button id='copy_@product.Id' data-clipboard-text='@product.Key' title='copy key' type='button' class='btn btn-secondary'>
                        <i class='far fa-copy'></i>
                    </button>
                    <input class="d-none" type='text' id='inputName_@product.Id' value='@product.Name'/>
                </td>
                <td> </td>
                <td>@product.CreationDate</td>
                <td>@product.ManagerName</td>
                @if (isProductCrudAllowed || ProductRoleHelper.IsManager(product.Id, user?.ProductsRoles))
                {
                    <td>
                        <button id='change_@product.EncodedId'
                                type='button' class='btn btn-secondary ms-1' title='edit'>
                            <i class='fas fa-edit'></i>
                        </button>
                    </td>
                }
                @if (isProductCrudAllowed)
                {
                    <td>
                        <button id='delete_@product.Id'
                                type='button' class='btn btn-secondary ms-1' title='delete'>
                            <i class='fas fa-trash-alt'></i>
                        </button>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>