@using System.Text.Json
@using HSMServer.Constants
@using HSMServer.Controllers

@model HSMServer.Model.Dashboards.PanelViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div id="@Model.Id" class="panel resize-draggable">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between align-items-center px-1 pt-1">
            <div>@Model.Name</div>
            <div>
                <button id="actionButton" class="btn p-1" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis-vertical button-link"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="actionButton">
                    <a class="dropdown-item text-decoration-none fw-normal button-link" asp-controller="@ViewConstants.DashboardsController" asp-action="@nameof(DashboardsController.AddDashboardPanel)" asp-route-dashboardId="@Model.DashboardId" asp-route-panelId="@Model.Id">Edit</a>
                    <a id="remove_@Model.Id" class="removePanel dropdown-item text-decoration-none fw-normal button-link">Remove</a>
                </div>
            </div>
        </div>

        <div id="panelChart_@Model.Id"></div>
    </div>
</div>


<script>
    $(document).ready(function () {
        let cords = @Html.Raw(JsonSerializer.Serialize(Model.Cords, new JsonSerializerOptions(){ PropertyNamingPolicy = JsonNamingPolicy.CamelCase}));
        let values = @Html.Raw(JsonSerializer.Serialize(Model.Sources.Values, new JsonSerializerOptions(){ PropertyNamingPolicy = JsonNamingPolicy.CamelCase}))

        $('#@Model.Id').width(cords.width)
                       .height(cords.height)
                       .css('transform', 'translate(' + cords.x + 'px, ' + cords.y + 'px)')
                       .attr('data-x', cords.x)
                       .attr('data-y', cords.y);
        
        initMultichart('panelChart_@Model.Id').then(
            (data) => {
                 values.forEach(function (x) {
                    insertSourcePlot(x, 'panelChart_@Model.Id', '@Model.Id', '@Model.DashboardId')
                 })
            },
            (error) => showToast(error)
        );
    })
</script>
