@using System.Text.Json
@using HSMCommon.Extensions
@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Dashboards
@using HSMServer.JsonConverters
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model HSMServer.Model.Dashboards.PanelViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var jsonOptions = new JsonSerializerOptions()
    {
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase,
        Converters = { new PlotlyDoubleConverter() }
    };
    var legendsTitle = @Model.Settings.ShowLegend ? "Hide legends" : "Show legends";
}

<div id="@Model.Id" class="panel resize-draggable">
    <div class="d-flex flex-column">
        <span id="emptypanel_@Model.Id" style="font-size: larger; position: fixed; z-index: 300; color: rgb(128,128,128); display: none">Empty panel</span>
        <div class="d-flex flex-row justify-content-between align-items-center px-1 pt-1 name-draggable">
            <div class="d-inline-block overflow-hidden">
                <span class="fw-bold d-flex" title="@Model.Name" id="panel_name" style="white-space: nowrap">@Model.Name</span>
                @if (string.IsNullOrEmpty(Model.Description))
                {
                    <div style="height: 1.5rem"></div>
                }
                else
                {
                    <span class="fw-lighter d-flex" id="panel_description" title="@Model.Description" style="color: grey; white-space: nowrap;">@Model.Description</span>
                }
            </div>
            <div class="align-self-start">
                <span class="time-ago-div" id="lastUpdate_@Model.Id" style="font-size: smaller"></span>
                <button id="actionButton" class="btn p-1" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis-vertical button-link"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="actionButton">
                    <a id="toggle_@Model.Id" class="toggle-legend dropdown-item text-decoration-none fw-normal button-link">@legendsTitle</a>
                    <a class="dropdown-item text-decoration-none fw-normal button-link" asp-controller="@ViewConstants.DashboardsController" asp-action="@nameof(DashboardsController.AddDashboardPanel)" asp-route-dashboardId="@Model.DashboardId" asp-route-panelId="@Model.Id">Edit</a>
                    <a id="remove_@Model.Id" class="removePanel dropdown-item text-decoration-none fw-normal button-link">Remove</a>

                    <div class="dropdown-submenu">
                        <a class="dropdown-item">Hover settingss</a>
                        <div class="dropdown-menu p-4 pt-2">
                            <label for="selecthovermode_@Model.Id" class="form-label">Hover Mode</label>
                            <select id="selecthovermode_@Model.Id" class="form-control">
                                @foreach (var mode in Enum.GetValues<TooltipHovermode>())
                                {
                                    <option value='@((int)mode)'>@mode.GetDisplayName()</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="panelChart_@Model.Id"></div>
</div>


<script>
    $(document).ready(function () {
        const settings = @Html.Raw(JsonSerializer.Serialize(Model.Settings, jsonOptions));
        const ySettings = @Html.Raw(JsonSerializer.Serialize(Model.YRange, jsonOptions));
        const values = @Html.Raw(JsonSerializer.Serialize(Model.Sources.Values, jsonOptions));
        const lastUpdate = "@(Model.LastUpdate == DateTime.MinValue ? 0 : Model.LastUpdate)" === "0" ? 0 : "@Model.LastUpdate.ToString("yyyy-MM-ddTHH:mm:ss")";

        initMultyichartCordinates(settings, values, '@Model.Id').then(
            (data) => {
                containerHeight = Math.max(containerHeight, data);
                return initMultichart('panelChart_@Model.Id', Number((settings.height * 1400).toFixed(5)) - 46, settings.showLegend, false, ySettings.autoScale === true ? true : [Number(ySettings.minValue), Number(ySettings.maxValue)]).then(
                        (plot) => {
                                window.addPanelToStorage('@Model.Id', settings,lastUpdate);

                                values.forEach(function (x) {
                                    insertSourcePlot(x, 'panelChart_@Model.Id', '@Model.Id', '@Model.DashboardId', ySettings.autoScale === true ? true : [Number(ySettings.minValue), Number(ySettings.maxValue)])
                                })

                                $('#panelChart_@Model.Id').on('plotly_relayout', function (e, updateData){
                                    let emptypanel = $('#emptypanel_@Model.Id');
                                    let container = $('#@Model.Id');
                                    emptypanel.css('transform', `translate(${container.width() / 2 - emptypanel.width() / 2}px, ${container.height() / 2}px)`)
                                })
                                
                                $('#panelChart_@Model.Id').on('plotly_doubleclick', function(){
                                    customReset($('#panelChart_@Model.Id')[0], getRangeDate(), ySettings.autoScale === true ? true : [Number(ySettings.minValue), Number(ySettings.maxValue)])
                                })

                                Plotly.relayout(plot.id, { 
                                    'xaxis.autorange': false,
                                    'height': Number((settings.height * 1400).toFixed(5)) - 46
                                })

                                if (values.length === 0) {
                                    $('#emptypanel_@Model.Id').show();
                                }

                                replaceHtmlToMarkdown('panel_description')
                            },
                        (error) => showToast(error)
                );
            },
            (error) => showToast(error)
        )
    })

</script>