@using HSMServer.Folders
@using HSMServer.Model.Dashboards

@model DatasourceViewModel

@inject IFolderManager Folders

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<li id='source_@Model.Id' class="mb-2">
    <div class="d-flex flex-row align-items-center">
        <div class="card w-100">
            <div class="card-body py-2">
                <div class="d-flex flex-column" style="flex-grow: 10">
                    <div class="d-flex mx-1 align-items-center">
                        <label class="fw-bold me-1">Label:</label>
                        <label id="productName_@Model.Id" class="text-nowrap me-1 @(Model.ShowProduct ? string.Empty : "d-none")">@Model.DisplayProduct</label>
                        <input id='name_input_@Model.Id' class="form-control" asp-for="Label" type="text" oninput="javascript:realtimeUpdate('@Model.Id')" />
                        <input id='name_default_@Model.Id' class="d-none" value="@Model.SensorName">

                        <label id="label_property_@Model.Id" class="text-nowrap mx-1 @(Model.ShowProperty ? string.Empty : "d-none")">(@Model.Property)</label>
                        <label id="showSensorProperty_@Model.Id" class="fw-bold text-nowrap ms-2 me-1" >Show property</label>
                        <input id="showSensorProperty_input_@Model.Id" class="form-check-input" type="checkbox" asp-for="ShowProperty" oninput="javascript:realtimeUpdate('@Model.Id')" />

                        <label class="fw-bold ms-2 me-1">Property:</label>
                        <select id="property_@Model.Id" class="form-select w-auto" title="Property to output" asp-for="Property" asp-items="@Model.AvailableProperties" onchange="javascript:realtimeUpdate('@Model.Id')"></select>

                        <a href="https://plotly.com/javascript/line-charts/#line-shape-options-for-interpolation" target="_blank" class="fw-bold ms-2 me-1">Shape:</a>
                        <select id="shape_@Model.Id" class="form-select w-auto" title="Shape of chart line" asp-for="Shape" asp-items="@Model.AvailableShapes" onchange="javascript:realtimeUpdate('@Model.Id')"></select>

                        <button id="pallette_@Model.Id" class="btn btn-primary ms-1 py-3 px-3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" 
                                style="background-color: @Model.Color;
                                    border: var(--bs-border-width) solid var(--bs-border-color);
                                    border-radius: var(--bs-border-radius);"></button>
                        <div class="dropdown">
                            <div class="dropdown-menu py-2 px-2" aria-labelledby="pallette_@Model.Id">
                                <div class="d-flex justify-content-between flex-row">
                                    <div class="color-grid flex-grow-1">
                                        <a class="dropdown-item color-option" style="background-color: #ff0000;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #ffff00;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #00ff00;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #00ffff;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #ff00ff;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #ff8080;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #80ff80;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #80ffff;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #8080ff;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #ff80ff;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #800000;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #ff8000;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #80ff00;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #008080;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #800080;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #008000;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #0000ff;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #ff4500;"></a> 
                                        <a class="dropdown-item color-option" style="background-color: #7fffd4;"></a>
                                        <a class="dropdown-item color-option" style="background-color: #daa520;"></a>
                                    </div>
                                    <div class="py-1">
                                        <input id="color_@Model.Id" type="color" asp-for="Color" class="form-control form-control-color h-100 dropdown-color" oninput="javascript:realtimeUpdate('@Model.Id')"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="d-flex align-items-center">
                        @if (Folders.TryGetValueById(Model.Folder, out var folder))
                        {
                            <span  style="color: grey;font-size: x-small;"><i class="fa-regular fa-folder"></i> @folder.Name -</span>
                        }
                        <span class="ms-1" style="color: grey;font-size: x-small;text-decoration-line: underline;cursor: pointer;" onclick="javascript:redirectToHome('@Model.SensorId')">
                            @Model.Path
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button id="actionButton" class="btn" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-ellipsis-vertical button-link"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="actionButton">
                <button id="removeSource_@Model.Id" class="dropdown-item text-decoration-none fw-normal button-link">Remove</button>
                <button id="removeAllSources_@Model.Id" class="dropdown-item text-decoration-none fw-normal button-link">Remove all sources</button>
            </div>
        </div>
    </div>
</li>


<script>
    function realtimeUpdate(id) {
        const color = $(`#color_${id}`).val();
        $(`#pallette_${id}`).css('background-color', color);
        updateSource($(`#name_input_${id}`).val(), color, $(`#property_${id}`).val(), $(`#shape_${id}`).val(), $(`input[name='ShowProduct']`).is(':checked'), $(`#showSensorProperty_input_${id}`).is(':checked'), id);
    }
</script>
