@using HSMServer.Controllers
@using System.Text.Json
@using HSMServer.JsonConverters
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model HSMServer.Model.Dashboards.PanelViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Tree/_Layout.cshtml";
    var jsonOptions = new JsonSerializerOptions()
    {
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase,
        Converters = { new PlotlyDoubleConverter() }
    };

    var isYRangeAvailabe = !Model.MainSensorType.HasValue || Model.YRange.IsRangeScalePossible(Model.MainSensorType.Value);
}


<div class="w-100 overflow-y-auto p-2">
    <div id="panelSettings" class="my-2">
        <div id="editablePanelSettings" class="my-2">
            <form method="post" asp-action="@nameof(DashboardsController.SaveDashboardPanel)" asp-route-dashboardId="@Model.DashboardId" asp-route-panelId="@Model.Id">
                <div class="d-flex justify-content-between mb-1">
                    <div class="d-flex align-items-center flex-grow-1">
                        <label asp-for="Name" class="me-2"></label>
                        <input class="form-control" required maxlength="30" asp-for="Name" placeholder="@nameof(Model.Name)"/>
                    </div>

                    <button type="submit" class="btn btn-primary independentSizeButton ms-2">Save</button>
                </div>

                <textarea id='description' maxlength="250" class="form-control w-100" type='text' asp-for="Description" placeholder="@nameof(Model.Description)"></textarea>

                <div class="d-flex">
                    <div id="y-range-settings" class="form-control w-auto no-border align-items-center" style="display: flex">
                        <div id="autoscale-range" class="d-flex no-border align-items-center @(Model.YRange.AutoScale ? "disabled-group" : "")">
                            <span>Y axis settings:</span>

                            <label class="form-check-label w-auto ms-2" asp-for="YRange.MinValue"></label>
                            <input type="number" step="any" asp-for="YRange.MinValue" class="form-control form-control-sm ms-1" style="flex: 0 0 content; max-width: 7rem"/>

                            <label class="form-check-label w-auto ms-2" asp-for="YRange.MaxValue"></label>
                            <input type="number" step="any" asp-for="YRange.MaxValue" class="form-control form-control-sm ms-1" style="flex: 0 0 content; max-width: 7rem"/>
                        </div>

                        <input id="autoscale" class="form-check-input my-0 mx-1" asp-for="YRange.AutoScale" type="checkbox"/>
                        <label class="form-check-label" asp-for="YRange.AutoScale"></label>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-end mt-2 flex-grow-1">
                        <div class="form-check">
                            <input type="checkbox" asp-for="AggregateValues" class="form-check-input"/>
                            <label class="form-check-label" asp-for="AggregateValues"></label>
                        </div>
                        <i class='fas fa-question-circle ms-1' title='If the setting is checked, the requested period will be divided into 100 equal sections and an aggregate point will be created for each subsection. The aggregation function depends on the source property. If source property is Min then aggregation function is Min(el1, el2). For source properties Max and Count the aggregation function is Max(el1, el2) and for Mean, Value and EMA (all) the function is Mean(el1, el2).'></i>

                        <div class="form-check ms-4">
                            <input type="checkbox" asp-for="ShowProduct" class="form-check-input" onchange="javascript:showProductInLabels()"/>
                            <label class="form-check-label" asp-for="ShowProduct"></label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="dropzone" style="max-width: 98%;min-width: 100%; width: 100%!important;">
        <span id="emptypanel" style="font-size: larger; position: fixed; z-index: 300; transform: translate(100px, 100px); color: rgb(128,128,128); display: none">Empty panel</span>
        <div id="multichart"></div>
    </div>


    <div class="d-flex align-items-center">
        <label class="col-form-label fw-bold">Templates:</label>
        <i class='fas fa-question-circle mx-2' title="Templates provide the ability to connect several sources with the same path template at once.&#013;Path input supports 2 types of variables that help to create sensor path templates. The variable supports letters, digits and symbols '_', '.', '$'.&#013;&#013;Variables:&#013;* - unnamed;&#013;{piece} - named (can be used in Label input)."></i>
        <a href="javascript:addTemplate();" class="mx-2">
            <i class="fa-solid fa-plus"></i> Add
        </a>
    </div>
    <div id="templates">
        @foreach (var (_, template) in Model.Templates)
        {
            @await Html.PartialAsync("_TemplateSettings", template)
        }
    </div>

    <label class="col-form-label fw-bold">Sources:</label>
    <div id="plots" class="mt-1">
        <ul id="sources" class="list-group">
        </ul>
    </div>

    <div class="d-flex justify-content-center mt-2" style="color: grey; font-size: larger">
        <span>Drag and drop sensor to the plot above</span>
    </div>
</div>

@await Html.PartialAsync("_ApplyTemplateModal")
@await Html.PartialAsync("~/Views/Shared/_ConfirmationModal.cshtml")


<script>
    let rangePreviewUpdate;
    
    var multichartRange;
    $(document).ready(function () {
        if ('@isYRangeAvailabe' !== 'True')
            $('#y-range-settings').hide();

        let values = @Html.Raw(JsonSerializer.Serialize(Model.Sources.Values, jsonOptions));
        let ySettings = @Html.Raw(JsonSerializer.Serialize(Model.YRange, jsonOptions));

        multichartRange = ySettings.autoScale === true ? true : [Number(ySettings.minValue), Number(ySettings.maxValue)];

        initMultichart('multichart', 300, true, true).then(
            (dom) => {
                values.forEach(function (x) {
                    addNewSourceHtml(x, 'multichart');
                })

                $('#multichart').on('plotly_relayout', function (e, updateData){
                    let rect = e.target.getBoundingClientRect();
                    let emptypanel = $('#emptypanel');
                    emptypanel.css('transform', `translate(${rect.width / 2 - emptypanel .width() / 2}px, ${rect.height / 2}px)`)
                })

                if (values.length === 0) {
                    $('#emptypanel').show();
                }

                window.dispatchEvent(new Event('resize'));
            }
        );

        $('#editablePanelSettings form').on('submit', function (event){
            event.preventDefault();
            event.stopImmediatePropagation();

            submit((id) => window.location.href = `/Dashboards/${id}`)
        })
    })
    
    function submit(callback){
        let form = $('#editablePanelSettings form')[0];
        $.ajax({
            type: 'post',
            url: $(form).attr("action"),
            data: new FormData(form),
            datatype: 'html',
            processData: false,
            contentType: false,
            cache: false,
            async: true
        }).done(function(id){
            callback(id);
        }).fail(function (response){
            showToast(response.responseText);
        })
    }
    
    $('#YRange_MinValue').on('change', function (){
        rangeUpdate(600)
    })
    
    $('#YRange_MaxValue').on('change', function (){
        rangeUpdate(600)
    })
    
    function rangeUpdate(time) {
        clearTimeout(rangePreviewUpdate)
        rangePreviewUpdate = setTimeout(function (){
            submit(() => window.location.reload())
        }, time);
    }
    
    $('#autoscale').on('change', function (){
        if ($(this).is(':checked'))
            $('#autoscale-range').addClass('disabled-group')
        else
            $('#autoscale-range').removeClass('disabled-group')
            
        rangeUpdate(200)
    })
    
    $('#multichart').on('plotly_legendclick', function (data) {
        return false;
    });

    function showProductInLabels() {
        $('#sources li').each(function (idx, li) {
            let source = $(li);

            let idAttr = source.attr('id');
            let sourceId = idAttr.substring('source_'.length, idAttr.length);

            if ($(`input[name='ShowProduct']`).is(':checked'))
                $(`#productName_${sourceId}`).removeClass('d-none');
            else
                $(`#productName_${sourceId}`).addClass('d-none');

            realtimeUpdate(sourceId);
        });
    }

    function addTemplate() {
        $.ajax({
            url: `${window.location.pathname}/@(nameof(DashboardsController.AddTemplate))`,
            method: "POST",
            cache: false
        }).done(function (viewData) {
            $(`#templates`).append(viewData);
        });
    }

    function removeAllSources() {
        showConfirmationModal(
            `Removing sources`,
            `Do you really want to remove all panel sources?`,
            function () {
                $('#sources li').each(function (idx, li) {
                    let source = $(li);

                    let idAttr = source.attr('id');
                    let sourceId = idAttr.substring('source_'.length, idAttr.length);

                    deletePlot(sourceId);
                })
            }
        );
    }
</script>