@using HSMServer.Controllers
@using HSMServer.Constants
@using HSMServer.Model.Dashboards

@model DashboardViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var isModify = Model is not null;
    var isEmptyDashboard = !isModify || Model.Panels.Count == 0;

    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Tree/_Layout.cshtml";
}


<div class="d-flex flex-column w-100">
    <div class="m-2">
        <div id="dashboardSettings" class="my-2 @(isModify ? string.Empty : "d-none")">
            <div class="d-flex justify-content-between mb-1">
                <h5>@Model?.Name</h5>

                <a class="icon-link text-nowrap" href="javascript:editDahsboardSettings();" title='edit dashboard settings'>
                    <i class='fas fa-edit'><use xlink:href="#box-seam"></i> Edit
                </a>
            </div>

            <div id="markdown_description">@Model?.Description</div> 
        </div>

        <div id="editableDashboardSettings" class="my-2 @(isModify ? "d-none" : string.Empty)">
            <form method="post" asp-action="@(isModify ? nameof(DashboardsController.EditDashboard) : nameof(DashboardsController.AddDashboard))">
                <input class="d-none" asp-for="Id" value="@Model?.Id"/>

                <div class="d-flex justify-content-between mb-1">
                    <input class="form-control" asp-for="Name" placeholder="@nameof(Model.Name)" required/>

                    <button type="submit" class="btn btn-primary independentSizeButton ms-2">Save</button>
                </div>

                <textarea id='description' class="form-control w-100" type='text' asp-for="Description" placeholder="@nameof(Model.Description)"></textarea>
            </form>
        </div>

        <div class="d-flex justify-content-end">
            <select class="form-select" style="width: auto">
                <option>last 30 minutes</option>
                <option>last 1 hour</option>
                <option>last 3 hours</option>
                <option>last 6 hours</option>
            </select>

            <a id="addPanel" class="icon-link text-nowrap ms-2 @(isModify ? "d-none" : string.Empty)" href="javascript:addPanel();">
                <i class="fa-solid fa-plus"><use xlink:href="#box-seam"></i> Add panel
            </a>
        </div>
    </div>

     <div id="noPanels" class="d-flex justify-content-center align-items-end noData-label @(isEmptyDashboard ?string.Empty  : "d-none")">
        <label>No panels</label>
    </div>

    <div id="dashboardPanels" class="flex-grow-1 dashboard mx-2 @(isEmptyDashboard ? "d-none" : string.Empty)"></div>
</div>


<script>
    $(document).ready(() => {
        replaceHtmlToMarkdown('markdown_description');
    });

    function addPanel() {
        $.ajax({
            type: 'GET',
            url: `@Html.Raw(Url.Action(nameof(DashboardsController.GetPanel), ViewConstants.DashboardsController))`,
            cache: false,
            async: true,
            success: (viewData) => {
                $('#dashboardPanels').append(viewData);

                $('#dashboardPanels').removeClass("d-none");
                $('#noPanels').addClass("d-none");
            }
        })
    }

    function editDahsboardSettings() {
        $('#dashboardSettings').addClass('d-none');

        $('#addPanel').removeClass('d-none');
        $('#editableDashboardSettings').removeClass('d-none');
    }
</script>
