@using HSMServer.Constants
@model HSMServer.Model.LoginModel
@{
    ViewData["Title"] = "Login";
}

<script>
    var urlAction = "@Html.Raw(Url.Action(ViewConstants.AuthorizeAction, ViewConstants.StartController))";
    var urlLogged = "@Html.Raw(Url.Action(ViewConstants.IndexAction, ViewConstants.HomeController))";
</script>

<h2>Login</h2>

<div class="login-form-div">
    <form method="post" action="account/authenticate" enctype="application/x-www-form-urlencoded">
        <div>
            <label asp-for="Login">Enter login:</label><br/>
            <input name="login" id="loginInput" value="@Model.Login" type="text" asp-for="Login"/><br/>
            <span asp-validation-for="Login"/>
        </div>
        <div>
            <label asp-for="Password">Enter password:</label><br/>
            <input name="password" type="password" id="passwordInput" value="@Model.Password" asp-for="Password"/>
            <span asp-validation-for="Password" />
        </div>
        

        <input type="submit" id="loginSubmit" value="Enter"/>
    </form>
    @if (TempData["ErrorMessage"] != null)
    {
        <span style="color:red">@TempData["ErrorMessage"].ToString()</span>
    }
    @*<form>
            <label>Enter login:</label><br />
            <input value="@Model.Login" name="Login" id="loginInput" /><br />
            <label>Enter password:</label><br />
            <input value="@Model.Password" name="Password" type="password" id="passwordInput" />

            <input type="submit" id="loginSubmit" value="Send" />
        </form>

    *@
    
    <script>
        function data(login, password) {
            this.Login = login;
            this.Password = password;
        }

        async function authorizeAsync() {
            var loginData = new data(document.getElementById("loginInput").value, document.getElementById("passwordInput").value);
            console.log(loginData);
            let response = await fetch(urlAction,
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(loginData)
                });
            if (response.ok === true) {
                console.log('logged in successfully');
                document.cookie = 'auth' + '=' + btoa(document.getElementById("loginInput").value + ":" + document.getElementById("passwordInput").value);
                window.location = urlLogged;
            } else {
                console.log('failed to log in!');
            }
        };
    </script>
</div>
