@using HSMServer.Constants
@model HSMServer.Model.LoginModel
@{
    ViewData["Title"] = "Login";
}

<script>

    var urlAction = "@Html.Raw(Url.Action(ViewConstants.AuthenticateAction, ViewConstants.AccountController))";
    var urlLogged = "@Html.Raw(Url.Action(ViewConstants.IndexAction, ViewConstants.HomeController))";
</script>

<h2>Login</h2>

<div class="login-form-div">
    <form method="post" action="account/authenticate" enctype="application/x-www-form-urlencoded">
        <div>
            <label asp-for="Login">Enter login:</label><br/>
            <input name="login" id="loginInput" value="@Model.Login" type="text" asp-for="Login"/><br/>
            <span asp-validation-for="Login"/>
        </div>
        <div>
            <label asp-for="Password">Enter password:</label><br/>
            <input name="password" type="password" id="passwordInput" value="@Model.Password" asp-for="Password"/>
            <span asp-validation-for="Password" />
        </div>
        

        <input type="submit" id="loginSubmit" value="Enter"/>
    </form>
    @if (TempData["ErrorMessage"] != null)
    {
        <span style="color:red">@TempData["ErrorMessage"].ToString()</span>
    }
</div>
