@using HSMCommon.Extensions
@using HSMServer.Extensions
@using HSMServer.Notifications
@using HSMServer.Notifications.Chats
@using HSMServer.Controllers
@using HSMServer.Constants
@using HSMServer.Model.Folders.ViewModels

@model FolderChatsViewModel

@inject IChatsManager ChatsManager

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@if (Model is not null)
{
    @await Html.PartialAsync("~/Views/Notifications/_NewChatHelpModal.cshtml", Model.FolderId)

    <div class="d-flex flex-row text-nowrap align-items-center my-3">
        <partial name="~/Views/Shared/_DefaultChat.cshtml" for="DefaultChats" />
    </div>

    <div class="my-2 d-flex justify-content-end">
        <div class="dropdown">
            <button class="btn btn-link p-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-plus"></i> Add new chat
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="javascript:showAddChatHelpModal();">
                        <i class="@ChatIcons.TelegramBrandClass"></i> Telegram bot invite
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="@ViewConstants.NotificationsController" asp-action="@nameof(NotificationsController.AddChat)" asp-route-id="@Guid.Empty">
                        <i class="@ChatIcons.SlackBrandClass"></i> Slack / Mattermost webhook
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="chatsSelect" class="selectpicker">
        <select class="selectpicker" asp-for="NewChats" multiple
                data-width="100%" data-live-search="true" data-placeholder="Choose chats to add">
            @if (Model.ChatsToAdd.Count > 0)
            {
                foreach (var chat in Model.ChatsToAdd)
                {
                    <option value="@chat.Id" data-content="@chat.ChatBrandIcons() @chat.Name">@chat.Name</option>
                }
            }
        </select>
    </div>

    @if (Model.ConnectedChats.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Channels</th>
                    <th class="text-center">Send messages</th>
                    <th class="text-center">Messages aggregation time (sec)</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var chat in Model.ConnectedChats)
                {
                    <tr id="row_chat_@chat.Id">
                        <td class="text-break">
                            @Html.Raw(chat.ChatBrandIcons())
                            <a asp-controller="@ViewConstants.NotificationsController" asp-action="@nameof(NotificationsController.EditChat)" asp-route-id="@chat.Id">
                                @chat.Name
                            </a>
                        </td>
                        <td class="text-center">
                            @if (chat.TelegramChatId is not null)
                            {
                                @chat.TelegramType.GetDisplayName()
                            }
                            else if (!string.IsNullOrEmpty(chat.SlackWebhookUrl))
                            {
                                @:Slack
                            }
                            else if (!string.IsNullOrEmpty(chat.MattermostWebhookUrl))
                            {
                                @:Mattermost
                            }
                        </td>
                        <td class="text-break text-center">
                            @if (chat.SendMessages)
                            {
                                <i class="fa-solid fa-check fa-xl"></i>
                            }
                        </td>
                        <td class="text-break text-center">@chat.MessagesAggregationTimeSec</td>
                        <td nowrap class="text-center w-10">
                            <div class='btn-group'>
                                <button id="actionButton" class="btn" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical" style="cursor: pointer"></i>
                                </button>
                                <ul class='dropdown-menu overflow-auto' aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a class='dropdown-item text-decoration-none fw-normal' style="cursor: pointer;"
                                           asp-controller="@ViewConstants.NotificationsController" asp-action="@nameof(NotificationsController.EditChat)" asp-route-id="@chat.Id">
                                            View/Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a id='remove_@chat.Id' class='dropdown-item text-decoration-none fw-normal' style="cursor: pointer;">
                                            Remove from folder
                                        </a>
                                    </li>
                                    @if (chat.TelegramChatId is not null)
                                    {
                                        <li>
                                            <a id="sendMessage_@chat.Id" name="@chat.TelegramChatId" data-chat-guid="@chat.Id" class='dropdown-item text-decoration-none fw-normal' style="cursor: pointer;">
                                                Send test Telegram message
                                            </a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(chat.SlackWebhookUrl))
                                    {
                                        <li>
                                            <a id="sendSlackMessage_@chat.Id" name="@chat.Id" class='dropdown-item text-decoration-none fw-normal' style="cursor: pointer;">
                                                Send test Slack message
                                            </a>
                                        </li>
                                    }
                                    @if (chat.TelegramChatId is not null && chat.TelegramType == ConnectedChatType.TelegramGroup)
                                    {
                                        <li>
                                            <a id="openChat_@chat.Id" name="@chat.TelegramChatId" class='dropdown-item text-decoration-none fw-normal' style="cursor: pointer;">
                                                Go to chat
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="d-flex justify-content-end my-2">
        <button type="submit" class="btn btn-secondary independentSizeButton">Save</button>
    </div>

    @*There is info about chats for FormData*@
    <div style="display:none">
        @for (int i = 0; i < Model.ConnectedChatIds.Count; i++)
        {
            <input id="folder_chat_@Model.ConnectedChatIds[i]" asp-for="ConnectedChatIds[i]" value="@Model.ConnectedChatIds[i]" />
        }
    </div>

    <input asp-for="FolderId" value="@Model.FolderId" style="display: none" />
}


<script>
    $(document).ready(function () {
        $("select[name='NewChats']").selectpicker();
    });

    $(document).on("submit", "#folderChats_form", function (event) {
        event.preventDefault();
        event.stopImmediatePropagation();

        var formData = new FormData(this);
        fillDefaultChatMode(formData);

        $.ajax({
            url: $("#folderChats_form").attr("action"),
            type: 'POST',
            data: formData,
            datatype: 'html',
            processData: false,
            contentType: false,
            cache: false,
            async: true,
            success: function (viewData) {
                $("#folderChats_form").html(viewData);
                showToast("Folder chats have been successfully saved!");
            }
        });
    });

    $('[id^=remove_]').on('click', function () {
        var chatId = this.id.substring("remove_".length, this.id.length);

        $(`#row_chat_${chatId}`).remove();
        $(`#folder_chat_${chatId}`).val('@Guid.Empty');
    });

    $('[id^=sendMessage_]').on('click', function () {
        event.preventDefault();
        event.stopImmediatePropagation();

        let chatId = this.name;

        let url = `@Url.Action(nameof(NotificationsController.SendTestTelegramMessage), ViewConstants.NotificationsController)?chatId=${chatId}`;

        $.ajax({ url: url });
    });

    $('[id^=sendSlackMessage_]').on('click', function () {
        event.preventDefault();
        event.stopImmediatePropagation();

        let chatId = this.name;

        let url = `@Url.Action(nameof(NotificationsController.SendTestSlackMessage), ViewConstants.NotificationsController)?id=${chatId}`;

        $.ajax({ url: url });
    });

    $('[id^=openChat_]').on('click', function () {
        event.preventDefault();
        event.stopImmediatePropagation();

        let chatId = this.name;

        $.ajax({
            url: `@Url.Action(nameof(NotificationsController.OpenTelegramGroup), ViewConstants.NotificationsController)?chatId=${chatId}`
        }).done(function (data) {
            if (data.error != null) {
                showToast(`Error opening chat. ${data.error}`);
            }
            else {
                window.open(data.link, "_blank");
            }
        });
    });
</script>
