@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Model.Configuration
@using HSMServer.ServerConfiguration

@model BackupSettingsViewModel


<h6 class="mt-3">Automatic backup settings</h6>
<div class="row mt-3">
    <div class="col-2">
        <label class="col-form-label" asp-for="IsEnabled"></label>
    </div>
    <div class="col-auto form-check form-switch ms-3 mt-2">
        <input class="form-check-input" type="checkbox" asp-for="IsEnabled">
    </div>
</div>
<div class="row">
    <div class="offset-2 col-10">
        <label class="note">Will information be backed up. Default value is @BackupDatabaseConfig.DefaultIsBackupEnabled. The setting will be applied in real time.</label>
    </div>
</div>

<div class="row mt-2">
    <div class="col-2">
        <label class="col-form-label" asp-for="BackupPeriodHours"></label>
    </div>
    <div class="col-2">
        <input class="form-control" type="number" min="1" asp-for="BackupPeriodHours">
    </div>
    <div class="col">
        <label class="col-form-label">hour(s)</label>
    </div>
</div>
<div class="row">
    <div class="offset-2 col-10">
        <label class="note">Frequency of environment database backup. This database contains meta information of server entities. Default value is @BackupDatabaseConfig.DefaultPeriodHours hour. The setting will be applied in real time.</label>
    </div>
</div>

<div class="row mt-2">
    <div class="col-2">
        <label class="col-form-label" asp-for="BackupStoragePeriodDays"></label>
    </div>
    <div class="col-2">
        <input class="form-control" type="number" min="1" asp-for="BackupStoragePeriodDays">
    </div>
    <div class="col">
        <label class="col-form-label">day(s)</label>
    </div>
</div>
<div class="row">
    <div class="offset-2 col-10">
        <label class="note">Maximum storage time for database backup. Default value is @BackupDatabaseConfig.DefaultStoragePeriodDays days. The setting will be applied in real time.</label>
    </div>
</div>

<h6 class="mt-3">Sftp connection settings</h6>
<div class="row mt-3">
    <div class="col-2">
        <label class="col-form-label" asp-for="IsSftpEnabled"></label>
    </div>
    <div class="col-auto form-check form-switch ms-3 mt-2">
        <input class="form-check-input" type="checkbox" asp-for="IsSftpEnabled">
    </div>
    <div class="col text-end">
        <button id="checkConnectionButton" type="button" class="btn btn-primary" title="Check connection and write permission"><i class="fa fa-plug" aria-hidden="true"></i> Check Connection</button>
    </div>
</div>
<div class="row">
    <div class="offset-2 col-2">
        <label class="note">Will backup uploded to sftp.</label>
    </div>
    <div class="col text-end" id="checkConnectionErrorMessage"  style="color: red; display: none;"></div>
</div>

<div class="row mt-2">
    <div class="col-2">
        <label class="col-form-label" asp-for="Address"></label>
    </div>
    <div class="col-3">
        <input class="form-control" asp-for="Address">
    </div>
    <div class="offset-2 col-2">
        <label class="col-form-label" asp-for="Port"></label>
    </div>
    <div class="col-2">
        <input class="form-control" asp-for="Port">
    </div>
</div>
<div class="row">
    <div class="offset-2 col-3">
        <label class="note">Sftp server address.</label>
    </div>
    <div class="offset-4 col">
        <label class="note">Sftp server port (empty for default).</label>
    </div>
</div>

<div class="row mt-2">
    <div class="col-2">
        <label class="col-form-label" asp-for="Username"></label>
    </div>
    <div class="col-3">
        <input class="form-control" asp-for="Username">
    </div>
    <div class="offset-2 col-2">
        <label class="col-form-label" asp-for="Password" typeof="password"></label>
    </div>
    <div class="col-3">
        <input class="form-control" asp-for="Password">
    </div>
</div>
<div class="row">
    <div class="offset-2 col-3">
        <label class="note">User name.</label>
    </div>
    <div class="offset-4 col-3">
        <label class="note">Password (Empty if no needed).</label>
    </div>
</div>

<div class="row mt-2">
    <div class="col-2">
        <label class="col-form-label" asp-for="RootPath"></label>
    </div>
    <div class="col-3">
        <input class="form-control" asp-for="RootPath"></input>
    </div>
    <div class="offset-2 col-2">
        <label class="col-form-label" asp-for="PrivateKey"></label>
    </div>
    <div class="col-3">
        <input class="form-control" asp-for="PrivateKey" type="file" /></input>
    </div>
</div>
<div class="row">
    <div class="offset-2 col-3">
        <label class="note">Root path.</label>
    </div>
    <div class="offset-4 col-3">
        <label class="note">Private key file. (OpenSSH format) </label>
    </div>
</div>

<div class="d-flex justify-content-between mt-2">
    <div class="col-2 d-grid">
        <button id="createBackupButton" type="button" class="btn btn-primary mt-1" @(Model.IsEnabled ? "" : "disabled")><i class="fa fa-file" aria-hidden="true"></i> @(Model.IsSftpEnabled ? "Backup & Upload" : "Backup")</button>
    </div>
    <button type="submit" class="btn btn-primary independentSizeButton mt-1">Save</button>
</div>

<div id="createBackupErrorMessage" style="color: red; display: none;"></div>

<script>
    $(document).ready(function () {
        savingFormSubscribe("backupSettings_form", "Backup settings have been successfully saved!");
    });

    $('[id^=createBackupButton]').on('click', function() {
        $.ajax({
            type: 'GET',
            url: '@Html.Raw(Url.Action(nameof(ConfigurationController.CreateBackup), ViewConstants.ConfigurationController))',
            dataType: 'html',
            contentType: 'text',
            cache: false,
            async: true,
            success: function(data) {
                let message = $("#createBackupErrorMessage");
                message.css("display", "block");

                if (data == "") {
                    message.empty().css("color", "green").append("Success.");
                }
                else {
                    message.empty().css("color", "red").append(data);
                }
            }
        });
    });

         $('[id^=checkConnectionButton]').on('click', function() {
            var form = document.getElementById('backupSettings_form');
            var formData = new FormData(form);
            $.ajax({
                type: 'POST',
                url: '@Html.Raw(Url.Action(nameof(ConfigurationController.CheckSftpConnection), ViewConstants.ConfigurationController))',
                data: formData,
                processData: false,
                contentType: false,
                async: false,
                success: function(data) {
                    let message = $("#checkConnectionErrorMessage");
                    message.css("display", "block");

                    if (data == "") {
                        message.empty().css("color", "green").append("Success.");
                    }
                    else {
                        message.empty().css("color", "red").append(data);
                    }
                }
            });
        });
</script>