@using HSMServer.Constants
@using HSMServer.HtmlHelpers
@model HSMServer.Model.TreeViewModels.ProductViewModel

<li id='@Model.EncodedId' title='@Model.Name &#013;@Model.UpdateTime'
    data-jstree='{"icon" : "fas fa-circle @ViewHelper.GetStatusHeaderColorClass(Model.Status)", "time" : "@Model.UpdateTime.ToString(ViewConstants.NodeUpdateTimeFormat)"}'>
    @Model.GetShortName(Model.Name) (@Model.Count sensors)

    @if (Model.Nodes != null)
        @foreach (var (_, child) in Model.Nodes)
        {
            <ul>@await Html.PartialAsync("_TreeNode", child)</ul>
        }

    @if (Model.Sensors != null && !Model.Sensors.IsEmpty)
    {
        <ul>
            @foreach (var (_, sensor) in Model.Sensors)
            {
                <li id='@sensor.EncodedId' title='@sensor.Name &#013;@sensor.UpdateTime'
                    data-jstree='{"icon" : "fas fa-circle @ViewHelper.GetStatusHeaderColorClass(sensor.Status)", "time" : "@sensor.UpdateTime"}'>
                    @Model.GetShortName(sensor.Name)
                </li>
            }
        </ul>
    }
</li>
