@using HSMServer.Constants
@using HSMServer.HtmlHelpers
@model HSMServer.Model.ViewModel.TreeViewModel

@{
    ViewData["Title"] = "Tree";
}
<script>
    var urlAction = "@Html.Raw(Url.Action(ViewConstants.UpdateAction, ViewConstants.HomeController))";
    var historyAction = "@Html.Raw(Url.Action(ViewConstants.HistoryAction, ViewConstants.HomeController))";
    var viewFileAction = "@Html.Raw(Url.Action(ViewConstants.ViewFileAction, ViewConstants.HomeController))";
    var downloadFileAction = "@Html.Raw(Url.Action(ViewConstants.DownloadFileAction, ViewConstants.HomeController))";
</script>


<style>
    .file-sensor-shortvalue-div {       
        margin: 10px;
    }
    .button-view-file-sensor {
        margin: 0px 10px 0px 0px;
    }

    .button-download-file-sensor-value{
        width: 45px;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>

<script src="/js/signalr/dist/browser/signalr.min.js"></script>

<div style="margin: 10px">
    <div id="updateTime"></div>
    <hr />
</div>

<div class="container">
    <div id="mainContainer" class="row">
        @ViewHelper.CreateTreeWithLists(Model)

    </div>
    <hr />
</div>

<script>
    //Mime types map
    const mimeTypesMap = new Map();
    mimeTypesMap.set('html', 'text/html');
    mimeTypesMap.set('pdf', 'application/pdf');
</script>

<script>
    //Tree functionality
    initializeTree();

    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl('/monitoring')
        .build();

    hubConnection.on('SendSensorUpdates', function (newModel) {
        if (newModel == undefined) return;

        $.ajax({
            type: 'POST',
            data: JSON.stringify(newModel),
            url: urlAction,
            dataType: 'html',
            contentType: 'application/json',
            cache: false,
            async: true
        }).done(function (data) {
            var node = $('#jstree').jstree().get_selected(true)[0];

            data = data.replace('{"value":"', '');//fix sometime
            data = data.replace('"}', '');

            $("#mainContainer").empty();
            $("#mainContainer").append(data);

            initializeTree();

            $('#list_' + node.id).css('display', 'block');
            $('#jstree').jstree('select_node', node.id);

            $('#updateTime').empty();
            $('#updateTime').append('Update Time: ' + new Date().toUTCString());
        });
    });

    hubConnection.start().then(() => {
        console.log(hubConnection.connectionId);
    });

    function initializeTree() {
        $('#jstree').jstree();

        $('#updateTime').empty();
        $('#updateTime').append('Update Time: ' + new Date().toUTCString());

        $('#jstree').on('activate_node.jstree', function (e, data) {
            if (data == undefined || data.node == undefined || data.node.id == undefined)
                return;
            //alert('clicked node: ' + data.node.id);

            $('[id^="list_"]').css("display", "none"); //start with

            if (document.getElementById('list_' + data.node.id) == null)
                $('#list_sensors_header').css('display', 'none');
            else
                $('#list_sensors_header').css('display', 'block');

            $('#list_' + data.node.id).css('display', 'block');
        });
    }
</script>
<script>
    //request history functionality 
    function data(product, path, totalCount) {
        return { "Path": path, "Product": product, "TotalCount": totalCount };
    }

    function initializeHistory(product, path, totalCount, historyAction) {
        if (totalCount == undefined)
            totalCount = 10;

        $.ajax({
            type: 'POST',
            data: JSON.stringify(data(product, path, totalCount)),
            url: historyAction,
            dataType: 'html',
            contentType: 'application/json',
            cache: false,
            async: true
        }).done(function (data) {
            //console.log(data);

            data = data.replace('{"value":"', ''); //fix sometime
            data = data.replace('"}', '');

            console.log(`#values_${product}_${path}`);

            $(`#values_${product}_${path}`).empty();
            $(`#values_${product}_${path}`).append(data);
        });
    }

    $(".accordion-button").on("click", function () {
        product = this.id.split('_')[0];
        path = this.id.substring(product.length + 1, this.id.length);
        totalCount = $('#inputCount_' + this.id).val();

        initializeHistory(product, path, totalCount, historyAction);
    });

    $('[id^="reload_"]').on("click",
        function() {
            id = this.id.substring("reload_".length, this.id.length);
            product = id.split('_')[0];
            path = id.substring(product.length + 1, this.id.length);
            totalCount = $('#inputCount_' + id).val();

            initializeHistory(product, path, totalCount, historyAction);
        });

</script>
<script>
    //files functionality
    function getFileName(product, path, extension) {
        let newDate = new Date();
        let date = newDate.toLocaleDateString("ru-RU");
        let time = newDate.toLocaleTimeString("ru-Ru").replace(':','.');
        return product + "_" + path + "_" + date + " " + time + "." + extension;
    }

    function viewFile(product, path, extension, viewFileAction) {
        $.ajax({
            type: 'POST',
            data: JSON.stringify(fileData(product, path)),
            url: viewFileAction,
            cache: false,
            contentType: "application/json",
            success: function (response) {
                let fileType = mimeTypesMap.get(extension);
                if (fileType === undefined) {
                    fileType = "text/html";
                }
                let blob = new Blob([response], { type: fileType });
                let url = window.URL.createObjectURL(blob);
                window.open(url);
            }
        });
    }

    function downloadFile(product, path, extension, downloadFileAction) {
        $.ajax({
            type: 'POST', 
            data: JSON.stringify(fileData(product, path)),
            url: downloadFileAction,
            cache: false,
            async: true,
            contentType: 'application/json',
            //dataType: 'application/octet-stream',
            success: function (response) {
                var date = new Date().toLocaleDateString("ru-RU");
                var blob = new Blob([response]);
                let url = window.URL.createObjectURL(blob);
                let link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', getFileName(product, path, extension));
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        });
        //fetch(downloadFileAction, {
        //    method: 'POST',
        //    cache: 'no-cache',
        //    body: JSON.stringify(fileData(product, path)),
        //    headers: {
        //        'Content-type': 'application/json'
        //    }
        //});
    }

    function fileData(product, path) {
        return { "Product": product, "Path": path };
    }

    $('[id^="button_view"]').on("click",
        function () {
            id = this.id.substring("button_view".length, this.id.length);

            let splitRes = id.split('_');
            let product = splitRes[1];
            let extension = splitRes[splitRes.length - 1];
            let path = id.substring(product.length + 2, id.length - extension.length - 1);

            viewFile(product, path, extension, viewFileAction);
        }
    );

    $('[id^="button_download"]').on("click",
        function () {
            id = this.id.substring("button_download".length, this.id.length);

            let splitRes = id.split('_');
            product = splitRes[1];
            extension = splitRes[splitRes.length - 1];
            path = id.substring(product.length + 2, id.length - extension.length - 1);
            
            downloadFile(product, path, extension, downloadFileAction);
        }
    );
</script>
