@using HSMServer.Constants
@using HSMServer.HtmlHelpers
@model HSMServer.Model.ViewModel.TreeViewModel

@{
    ViewData["Title"] = "Tree";
}

<script>
    var updateLists = "@Html.Raw(Url.Action(ViewConstants.UpdateInvisibleListsAction, ViewConstants.HomeController))";
    var updateSelectedList = "@Html.Raw(Url.Action(ViewConstants.UpdateSelectedListAction, ViewConstants.HomeController))";
    var addNewSensors = "@Html.Raw(Url.Action(ViewConstants.AddNewSensorsAction, ViewConstants.HomeController))";
    var updateTree = "@Html.Raw(Url.Action(ViewConstants.UpdateTreeAction, ViewConstants.HomeController))";
    var getFileAction = "@Html.Raw(Url.Action(ViewConstants.GetFileAction, ViewConstants.HomeController))";
    var viewFileAction = "@Html.Raw(Url.Action(ViewConstants.GetFileStreamAction, ViewConstants.HomeController))";
    var selected = "";

    var removeNode = "@Html.Raw(Url.Action(ViewConstants.RemoveNodeAction, ViewConstants.HomeController))";
    var removeSensorAction = "@Html.Raw(Url.Action(ViewConstants.RemoveSensorAction, ViewConstants.HomeController))";
    var removeSensorsAction = "@Html.Raw(Url.Action(ViewConstants.RemoveSensorsAction, ViewConstants.HomeController))";

    var historyAllAction = "@Html.Raw(Url.Action(ViewConstants.HistoryAllAction, ViewConstants.HomeController))";
    var historyAction = "@Html.Raw(Url.Action(ViewConstants.HistoryAction, ViewConstants.HomeController))";

    var rawHistoryAction = "@Html.Raw(Url.Action(ViewConstants.RawHistoryAction, ViewConstants.HomeController))";
    var rawHistoryAllAction = "@Html.Raw(Url.Action(ViewConstants.RawHistoryAllAction, ViewConstants.HomeController))";

    var historyLatestAction = "@Html.Raw(Url.Action(ViewConstants.HistoryLatestAction, ViewConstants.HomeController))";
    var rawHistoryLatestAction = "@Html.Raw(Url.Action(ViewConstants.RawHistoryLatestAction, ViewConstants.HomeController))";

    var exportHistoryAction = "@Html.Raw(Url.Action(ViewConstants.ExportHistoryAction, ViewConstants.HomeController))";
    var exportHistoryAllAction = "@Html.Raw(Url.Action(ViewConstants.ExportHistoryAllAction, ViewConstants.HomeController))";

    var isTimeSorting = false;

    var getSensorInfoAction = "@Html.Raw(Url.Action(ViewConstants.GetSensorInfoAction, ViewConstants.HomeController))";
    var updateSensorInfoAction = "@Html.Raw(Url.Action(ViewConstants.UpdateSensorInfoAction, ViewConstants.HomeController))";
</script>

<link rel="stylesheet" href="~/js/jstree/themes/default/style.min.css" />
<link rel="stylesheet" href="~/css/bundles/homeBundle.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

<script src="/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/bundles/homeBundle.min.js"></script>
<script src="~/js/plotly.js/plotly.min.js"></script>
<script src="~/js/jstree/jstree.min.js"></script>
<script src="~/moment.js/moment.min.js"></script>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteLabel">Remove product</h5>
            </div>

            <div id="modalDeleteBody" class="modal-body">

            </div>

            <div class="modal-footer">
                <button id="confirmDeleteButton" type="button" class="btn btn-secondary">Ok</button>
                <button id="closeDeleteButton" type="button" class="btn btn-secondary" data-bs-dismiss="modalDelete">Cancel</button>

            </div>
        </div>
    </div>
</div>




<div id="mainContainer">
    <div style="margin: 10px">
        <div class="row">
            <div class="col-md-auto">
                <div id="state"></div>
            </div>
            <div class="col-md-auto">
                <div id="updateTime"></div>
            </div>
        </div>
        <hr />
    </div>

    <div class="row">

    </div>

    <div class='btn-group' style="margin-left: 20px; margin-bottom: 10px">
        <button class='btn btn-secondary btn-sm dropdown-toggle' type='button' data-bs-toggle='dropdown'>
            Views
        </button>
        <ul class='dropdown-menu'>
            <li>
                <a class='dropdown-item' href='#' id="sortByName">Sort By Name <i class="fas fa-sort-alpha-down"></i></a>
            </li>

            <li>
                <a class='dropdown-item' href='#' id="sortByTime">Sort By Last Update <i class="fas fa-sort-numeric-down-alt"></i></a>
            </li>
        </ul>
    </div>

    <div>
        <div id="mainContainer" class="row">
            <div class="scrollableBlock">
                <div id="treeContainer" class="col-md-4">@await Component.InvokeAsync("Tree")</div>
            </div>


            <div id="listContainer" class="col-md-8">@ViewHelper.CreateFullLists(Model)</div>
        </div>
        <hr />
    </div>
</div>



<script>
    initializeTree();
    initializeDataHistoryRequests();
    InitializePeriodRequests();
    initializeInfoLinks();
    //InitializePeriodRequests();

    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl('/monitoring')
        .build();

    $("#state").empty();
    $("#state").append("<span style='color: green' value='Connection successful'><i class='fas fa-wifi'></i></span>");

    hubConnection.on('SendSensorUpdates',
        function (sensors) {
            if (sensors == undefined) return;

            var node = $('#jstree').jstree().get_selected(true)[0];
            if (node != undefined)
                displayList(node);

            //update tree
            $.ajax({
                type: 'POST',
                data: JSON.stringify(sensors),
                url: updateTree,
                dataType: 'html',
                contentType: 'application/json',
                cache: false,
                async: true
            }).done(function (treeData) {
                //var node = $('#jstree').jstree().get_selected(true)[0];
                treeData = treeData.replace('{"value":"', '');
                treeData = treeData.slice(0, treeData.length - 2);
                treeData = treeData.replaceAll("\\", "");
                $('#jstree').jstree(true).settings.core.data = treeData;
                $('#jstree').jstree(true).refresh(true);

                initializeClickTree();
            });

            var selectedNode = $('#jstree').jstree().get_selected(true)[0];
            var listId = getListIdForSelectedNode(selectedNode);

            //update invisible lists
            $.ajax({
                type: 'POST',
                data: JSON.stringify(sensors),
                url: updateLists + '?Selected=' + listId,
                dataType: 'html',
                contentType: 'application/json',
                cache: false,
                async: true
            }).done(function (listsData) {
                //removing invisible lists
                $('[id^="list_"][style*="display: none;"]').each(function (index) {
                    this.remove();
                });
                let parsedData = JSON.parse(listsData);
                $('#listContainer').append(parsedData.value);
                initializeDataHistoryRequests();
                initializeInfoLinks();
            });

            if (listId != "" && listId != undefined)
                //update selected list
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(sensors),
                    url: updateSelectedList + '?Selected=' + listId,
                    dataType: 'html',
                    contentType: 'application/json',
                    cache: false,
                    async: true
                }).done(function (listsData) {
                    var array = JSON.parse(listsData);
                    for (let i = 0; i < array.length; i++) {
                        let id = array[i].id.substring('sensor_'.length);
                        updateSelectedSensor(array[i], id);
                        let selectedRadio = $('input[id$=' + id + ']:checked');
                        if (selectedRadio !== undefined) {
                            selectedRadio.click();
                        }
                    }
                    initializeDataHistoryRequests();
                    initializeInfoLinks();
                });

            if (listId != "" && listId != undefined)
                //add new sensors
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(sensors),
                    url: addNewSensors + '?Selected=' + listId,
                    dataType: 'html',
                    contentType: 'application/json',
                    cache: false,
                    async: true
                }).done(function (sensorsData) {
                    sensorsData = sensorsData.replace('{"value":"', '');
                    sensorsData = sensorsData.slice(0, sensorsData.length - 2);
                    sensorsData = sensorsData.replaceAll("\\", "");

                    if ($('#' + listId) == undefined) {
                        $('#listContainer').append("<div class='accordion'" +
                            "id = '" +
                            listId +
                            "' style = 'display: block;' ></div> ");
                        $('#noData').css('display', 'none');
                    }

                    $('#' + listId).append(sensorsData);
                    initializeDataHistoryRequests();
                    initializeInfoLinks();
                });

            if (listId != "" && listId != undefined)
                //remove sensors
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(sensors),
                    url: removeSensorsAction,
                    dataType: 'html',
                    contentType: 'application/json',
                    cache: false,
                    async: true
                }).done(function (idsData) {
                    var array = JSON.parse(idsData);

                    if (array != undefined && array.length > 0)
                        for (let i = 0; i < array.length; i++) {
                            $('#' + array[i]).parent().parent().empty();
                        }
                });

            $('#updateTime').empty();
            $('#updateTime').append('Update Time: ' + new Date().toUTCString());
            $("#state").empty();
            $("#state").append("<span style='color: green' value='Connection successful'><i class='fas fa-wifi'></i></span>");
        });

    hubConnection.onclose(error => {
        $("#state").empty();
        $("#state").append("<span style='color: Tomato' value='Connection lost'><i class='fas fa-wifi'></i></span>");
    });

    hubConnection.start().then(() => {
        //console.log(hubConnection.connectionId);
    });

    function update() {
        var node = $('#jstree').jstree().get_selected(true)[0];
        if (node != undefined)
            displayList(node);

        //update tree
        $.ajax({
            type: 'POST',
            url: updateTree,
            dataType: 'html',
            contentType: 'application/json',
            cache: false,
            async: true
        }).done(function (treeData) {
            //var node = $('#jstree').jstree().get_selected(true)[0];

            treeData = treeData.replace('{"value":"', '');
            treeData = treeData.slice(0, treeData.length - 2);
            treeData = treeData.replaceAll("\\", "");

            $('#jstree').jstree(true).settings.core.data = treeData;
            $('#jstree').jstree(true).refresh(true);

            initializeClickTree();
        });

        var selectedNode = $('#jstree').jstree().get_selected(true)[0];
        var listId = getListIdForSelectedNode(selectedNode);

        //update invisible lists
        $.ajax({
            type: 'POST',
            url: updateLists + '?Selected=' + listId,
            dataType: 'html',
            contentType: 'application/json',
            cache: false,
            async: true
        }).done(function (listsData) {
            //removing invisible lists
            $('[id^="list_"][style*="display: none;"]').each(function (index) {
                this.remove();
            });

            listsData = listsData.replace('{"value":"', '');
            listsData = listsData.slice(0, listsData.length - 2);
            listsData = listsData.replaceAll("\\", "");

            $('#listContainer').append(listsData);

            initializeDataHistoryRequests();
            initializeInfoLinks();
        });

        if (listId != "" && listId != undefined)
            //update selected list
            $.ajax({
                type: 'POST',
                url: updateSelectedList + '?Selected=' + listId,
                dataType: 'html',
                contentType: 'application/json',
                cache: false,
                async: true
            }).done(function (listsData) {
                var array = JSON.parse(listsData);
                for (let i = 0; i < array.length; i++) {
                    let id = array[i].id.substring('sensor_'.length);
                    updateSelectedSensor(array[i], id);
                    let selectedRadio = $('input[id$=' + id + ']:checked');
                    if (selectedRadio !== undefined) {
                        selectedRadio.click();
                    }
                }
                initializeDataHistoryRequests();
                initializeInfoLinks();
            });

        $('#updateTime').empty();
        $('#updateTime').append('Update Time: ' + new Date().toUTCString());
        $("#state").empty();
        $("#state").append("<span style='color: green' value='Connection successful'><i class='fas fa-wifi'></i></span>");
    }

    setInterval(update, 30000);
    $('#sortByName').off("click").on("click",
        function () {
            isTimeSorting = false;
            initializeTree();
            $('#jstree').jstree(true).refresh(true);
        });

    $('#sortByTime').off("click").on("click",
        function () {
            isTimeSorting = true;
            initializeTree();
            $('#jstree').jstree(true).refresh(true);
        });

    function getListIdForSelectedNode(selectedNode) {
        let selectedListId = "";
        if (selectedNode != undefined) {
            let nodeId = selectedNode.id;
            if (nodeId.startsWith("sensor_")) {
                //let path = nodeId.substring("sensor_".length);
                selectedListId = 'list_' + selectedNode.parent;
            } else {
                selectedListId = 'list_' + nodeId;
            }
        }
        return selectedListId;
    }

    function updateSelectedSensor(dataObject, id) {
        $('#value_' + id).empty().append(dataObject.value);
        $('#update_' + id).empty().append('updated ' + dataObject.updateTime);
        $('#status_' + id).removeClass('tree-icon-unknown ' +
            'tree-icon-ok ' +
            'tree-icon-warning ' +
            'tree-icon-error ' +
            'tree-icon-unknown');
        $('#status_' + id).addClass(dataObject.status);
        clearValidationError(id);
        if (dataObject.ValidationError != null || dataObject.validationError) {
            updateValidationError(id, dataObject.validationError);
        }
    }

    function clearValidationError(id) {
        $('#validation_' + id).empty();
    }

    function updateValidationError(id, error) {
        $('#validation_' + id).append("<li id='errorIcon_ " + id + "' class='fas fa-exclamation-triangle' style='margin-right:5px'" +
            " title=' " + error + "'></li>");
    }
</script>