@using HSMServer.Constants
@model HSMServer.Model.LoginModel
@{
    ViewData["Title"] = "Login";
}

<script>
    var urlAction = "@Html.Raw(Url.Action(ViewConstants.AuthorizeAction, ViewConstants.StartController))"
    var urlLogged = "@Html.Raw(Url.Action(ViewConstants.IndexAction, ViewConstants.HomeController))"
</script>

<h2>Login</h2>

<div class="login-form-div">
    @*<form asp-anti-forgery="true">
        <div asp-validation-summary="ModelOnly" />
        <div>
            <div class="form-group">
                <label>Enter Login</label>
                <input type="text" id="loginInput" />
                <span  />
            </div>

            <div class="form-group">
                <label>Enter Password</label>
                <input id="passwordInput" type="password" />
                <span />
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn" id="loginSubmit" />
            </div>
        </div>
        @Html.AntiForgeryToken()
    </form>*@

    @using (Html.BeginForm())
    {
                <label>Enter login:</label><br/>
                <input value="@Model.Login" name="Login" id="loginInput"/><br/>
                <label>Enter password:</label><br/>
                <input value="@Model.Password" name="Password" type="password" id="passwordInput"/>

                <input type="submit" id="loginSubmit" value="Send"/>          
    }

    <script>
        function data(login, password) {
            this.Login = login;
            this.Password = password;
        }

        function authorize() {
            var loginData = new data(document.getElementById("loginInput").value, document.getElementById("passwordInput").value);
            console.log(loginData);
            $.ajax({
                type: "GET",
                data: JSON.stringify(loginData),
                url: urlAction,
                dataType: "json",
                cache: false,
                async: true,
                contentType: "application/json",                
            });
        };

        document.getElementById("loginSubmit").addEventListener("click", e => {
             e.preventDefault();
             authorize();
        });
    </script>
</div>
