@using HSMServer.Model.DataAlerts

@model ActionViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div name="alertAction" class="d-flex flex-row align-items-center alert-blocks-group py-1 ms-3">
    <div class="@(Model.IsMain ? "d-none" : "d-flex") alert-text-block alert-add me-3">and</div>

    <select class="alert-block alert-select property-select" asp-for="Action" asp-items="Model.Actions"></select>

    <div name="sendNotificationAction" class="d-block">
        <input type="text" class="alert-block target-input" placeholder="message template" asp-for="Comment" value="@Model.Comment" required>
    </div>

    <div name="showIconAction" class="d-none alert-block">
        <input class="target-input" asp-for="Icon" />
    </div>

    <div name="setStatusAction" class="d-none">
        <select class="alert-block alert-select target-input" asp-for="Status" asp-items="@Model.StatusesItems"></select>
    </div>

    <a class="deleteAction"><i class="@(Model.IsMain ? "d-none" : "d-flex") fa-solid fa-xmark alert-delete-button"></i></a>
</div>


<script>
    $(document).ready(function () {
        $("input[name='Icon']").emojioneArea({
            filtersPosition: "bottom",
            inline: true
        });
    });

    $('select[name="Action"]').off("change").on("change", function () {
        let actionBlock = $(this).parents("div[name='alertAction']:first");

        let send = actionBlock.find($(`div[name='sendNotificationAction']`));
        let show = actionBlock.find($(`div[name='showIconAction']`));
        let set = actionBlock.find($(`div[name='setStatusAction']`));

        let action = $(this).val();
        if (action === '@ActionViewModel.SendNotifyAction') {
            show.removeClass("d-block").addClass('d-none');
            set.removeClass("d-block").addClass('d-none');

            send.removeClass("d-none").addClass('d-block');
        }
        else if (action === '@ActionViewModel.ShowIconAction') {
            send.removeClass("d-block").addClass('d-none');
            set.removeClass("d-block").addClass('d-none');

            show.removeClass("d-none").addClass('d-block');
        }
        else if (action === '@ActionViewModel.SetStatusAction') {
            send.removeClass("d-block").addClass('d-none');
            show.removeClass("d-block").addClass('d-none');

            set.removeClass("d-none").addClass('d-block');
        }
    });

    $("a.deleteAction").off("click").on("click", function () {
        $(this).parents("div[name='alertAction']:first").remove();
    });
</script>
