@using System.Text
@using HSMServer.Helpers
@using HSMServer.Model.Controls
@using HSMServer.Model.DataAlerts
@using HSMServer.Extensions
@using HSMCommon.Extensions
@using HSMServer.Controllers
@using HSMServer.Constants
@using HSMServer.Notifications
@using Microsoft.AspNetCore.Html
@using System.Net

@model DataAlertViewModelBase

@inject ITelegramChatsManager ChatsManager

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var telegramChats = ChatsManager.GetValues().ToDictionary(k => k.Id, v => v);

    string GetActionChats(ActionViewModel action) =>
         string.Join(", ", action.Chats.Where(ch => telegramChats.ContainsKey(ch)).Select(ch => telegramChats[ch].Name));

    bool isTemplate = ViewBag.IsTemplate ?? false;

    ViewData["type"] = (byte)Model.Type;
}


<div id="alertLabel_@Model.Id" class="ms-3 @(Model.IsModify ? "d-none" : string.Empty) @(Model.IsDisabled ? "disabledAlertLabel" : string.Empty)">
    @if (Model.IsAlertDisplayed)
    {
        <span>If</span>
        @for (int i = 0; i < Model.Conditions.Count; ++i)
        {
            var condition = Model.Conditions[i];

            @if (i > 0)
            {
                <span>and</span>
            }

            <span>
                @if (condition.Property == AlertProperty.TimeToLive)
                {
                    <b>@AlertProperty.TimeToLive.GetDisplayName() is @condition.TimeToLive.DisplayValue</b>
                }
                else if (condition.Property == AlertProperty.ConfirmationPeriod)
                {
                    <b>@AlertProperty.ConfirmationPeriod.GetDisplayName() is more than @condition.ConfirmationPeriod.DisplayValue</b>
                }
                else
                {
                    <b>@condition.Property.GetDisplayName() @condition.Operation?.GetDisplayName()</b>
                    @if (condition.Operation?.IsTargetVisible() ?? false)
                    {
                        <b>@condition.Target</b>
                    }
                }
            </span>
        }

        var actions = new List<HtmlString>();
        @foreach (var action in Model.Actions)
        {
            @if (action.Action == ActionType.SendNotification)
            {
                string chats = null;
                StringBuilder schedule = new(1 << 2);
                string color = "#0366d6";

                switch (action.ChatsMode)
                {
                    case ChatsMode.FromParent:
                    {
                        var (parentIds, lastMode) = Model.DefaultChat?.GetParentChats() ?? ([], null);

                        string chatNames;
                        if (parentIds.Count != 0)
                            chatNames = parentIds.ToNames(telegramChats);
                        else
                            chatNames = lastMode?.GetDisplayName();

                        chats = $"{ChatsMode.FromParent.GetDisplayName()} ({chatNames})";
                        
                        if (action.Chats.Count !=  0)
                            chats += $", {GetActionChats(action)}";

                        break;
                    }
                    case ChatsMode.Custom:
                        {
                            if (action.Chats.Count == 0)
                            {
                                chats = "(chats are not initialized)";
                                color = "gray";
                            }
                            else
                                chats += GetActionChats(action);

                            break;
                        }
                    default:
                        chats = action.ChatsMode.GetDisplayName();
                        break;
                }

                if (action.ScheduleRepeatMode is not null)
                {
                    schedule.Append($" scheduled every <b>{action.ScheduleRepeatMode.GetDisplayName()}</b>");
                    if (!Model.Conditions.Any(c => c.Property == AlertProperty.TimeToLive))
                    {
                        if (action.ScheduleStartTime.HasValue && action.ScheduleStartTime.Value > DateTime.UtcNow)
                            schedule.Append($" starting at {action.ScheduleStartTime?.ToDefaultFormat()}");
                        if (action.ScheduleInstantSend)
                            schedule.Append(" and instant send");
                    }
                }

                actions.Add(new HtmlString($"<span>send notification <i>{action.DisplayComment}</i> to </span><span style='color: {color};'>{chats}</span>{schedule}"));
            }
            else if (action.Action == ActionType.ShowIcon)
            {
                actions.Add(new HtmlString($"<span>show icon {action.Icon}</span>"));
            }
            else if (action.Action == ActionType.SetStatus)
            {
                actions.Add(new HtmlString($"<span>{ActionViewModel.SetErrorStatus}</span>"));
            }
        }

        <span>then</span>
        @if (actions.Count > 0)
        {
            @for (int i = 0; i < actions.Count; ++i)
            {
                @if (i > 0)
                {
                    <span>and</span>
                }

                @Html.Raw(actions[i])
                ;
            }
        }
        else
        {
            <span>... (<i>add any action</i>)</span>
        }

        @if (Model.IsDisabled)
        {
            <span style="opacity:1; text-decoration:none"><b>(disabled)</b></span>
        }
    }
</div>

<div id="alertConstructor_@Model.Id" class="dataAlertRow d-flex flex-row align-items-center @(!Model.IsModify ? "d-none" : string.Empty)">
    <div class="card mb-2 w-100 @(Model.IsDisabled ? "disabledAlert" : string.Empty) @(Model.TemplateId != null ? "templatedAlert" : string.Empty)" >
        <div class="card-body py-2">
            <div class="d-flex flex-row align-items-top fullCondition">
                @{
                    var isTtlCondition = Model.Conditions.FirstOrDefault()?.Property is AlertProperty.TimeToLive;
                }

                <div name="conditionsBlock" class="d-flex flex-row flex-wrap align-items-center flex-grow-1 w-100">
                    <div class="alert-text-block alert-add me-2 fixed-width40">If</div>

                    @foreach (var condition in Model.Conditions)
                    {
                        @await Html.PartialAsync("~/Views/Home/Alerts/_ConditionBlock.cshtml", condition)
                    }

                </div>

                @if (!isTtlCondition)
                {
                    <a class="addCondition align-self-end ms-auto">
                        <i class="fa-solid fa-plus alert-add-button"></i>
                    </a>
                }
            </div>

            <div class="d-flex flex-row align-items-top alert-blocks-group fullAction @(Model.IsTtl ? "ttlAction" : string.Empty)">
                
                <div class="align-items-top py-1">
                    <div class="alert-text-block alert-add fixed-width40 mt-1">then</div>
                </div>

                <div name="actionsBlock" class="d-flex flex-row flex-wrap align-items-top flex-grow-1 w-100">


                    @foreach (var action in Model.Actions)
                    {
                        @await Html.PartialAsync("~/Views/Home/Alerts/_ActionBlock.cshtml", action)
                    }
                </div>

                <a class="addAction align-self-end ms-auto mb-1">
                    <i class="fa-solid fa-plus alert-add-button"></i>
                </a>
            </div>
        </div>
    </div>

    <div>
        <button id="actionButton" class="btn" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-ellipsis-vertical button-link"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="actionButton">
            @if(!isTemplate)
            {
                <a class="dropdown-item text-decoration-none fw-normal button-link showMessage">Show message</a>
                <a class="dropdown-item text-decoration-none fw-normal button-link enable">@(Model.IsDisabled ? "Enable" : "Disable")</a>
            }
            <a class="dropdown-item text-decoration-none fw-normal button-link deleteRow">Remove</a>
        </div>
    </div>

    <input class="d-none" type="checkbox" asp-for="IsDisabled" value="@Model.IsDisabled">
    <input class="d-none" asp-for="Id" value="@Model.Id" />
    <input class="d-none" asp-for="EntityId" value="@Model.EntityId" />
    <input class="d-none" asp-for="TemplateId" value="@Model.TemplateId" />
</div>


<script>
    $(document).ready(function () {
        $("a.addCondition").off("click").on("click", function () {
            let element = $(this).parents("div.fullCondition:first");

            $.ajax({
                url: `@Url.Action(nameof(HomeController.AddAlertCondition), ViewConstants.HomeController)?type=@Model.Type`,
                cache: false
            }).done(function (viewData) {
                var conditionsBlock = element.find($(`div[name='conditionsBlock']`));
                conditionsBlock.append(viewData);
            });
        });

        $("a.addAction").off("click").on("click", function () {
            let element = $(this).parents("div.fullAction:first");
            let actionsBlock = element.find($(`div[name='actionsBlock']`));
            let isMainAction = actionsBlock.find($(`div[name='alertAction']`)).length == 0;
            let isTtlAlert = element.hasClass("ttlAction");

            $.ajax({
                url: `@Url.Action(nameof(HomeController.AddAlertAction), ViewConstants.HomeController)?entityId=@Model.EntityId&isMain=${isMainAction}&isTtl=${isTtlAlert}`,
                cache: false
            }).done(function (viewData) {
                actionsBlock.append(viewData);
            });
        });

        $("a.deleteRow").off("click").on("click", function () {
            if ($(this).parents("#dataAlertsList_@TimeToLiveAlertViewModel.AlertKey").length > 0) {
                $('#addTtlAlert').removeClass('disabled');
            }

            $(this).parents("div.dataAlertRow:first").remove();
        });

        $("a.showMessage").off("click").on("click", function () {
            var element = $(this).parents("div.dataAlertRow:first");

            if (!tryValidate(element, "input", "Target") || !tryValidate(element, "input", "Comment")) {
                return;
            }

            var form = new FormData();
            appendProperty(form, element, "select", "Property");
            appendProperty(form, element, "select", "Operation");
            appendProperty(form, element, "div", "emoji");
            appendProperty(form, element, "input", "Comment");
            appendProperty(form, element, "input", "Target");
            appendProperty(form, element, "input", "EntityId");

            $.ajax({
                url: '@Url.Action(nameof(HomeController.GetTestToastMessage))',
                type: 'POST',
                data: form,
                processData: false,
                contentType: false,
                async: true,
                success: function (response) {
                    if (response)
                        showToast(response, "Test message");
                }
            });
        });

        $("a.enable").off("click").on("click", function () {
            let element = $(this).parents("div.dataAlertRow:first");

            let card = element.find($(`div.card`));
            let isDisabledCheckbox = element.find($(`input[name='IsDisabled']`));

            if (this.text == "Enable") {
                this.text = "Disable";

                card.removeClass("disabledAlert");
                isDisabledCheckbox.val("False");
            }
            else {
                this.text = "Enable";

                card.addClass("disabledAlert");
                isDisabledCheckbox.val("True");
            }
        });
    });

    function appendProperty(form, element, propertyElement, propertyName) {
        let selector = "";
        if (propertyElement !== 'input')
            selector = ':not(:empty)';

        element.find(`${propertyElement}[name='${propertyName}']${selector}`).each(function () {
            let value = '';

            if ($(this).parent().hasClass("d-none")) {
                return;
            }

            if (propertyElement === 'div') {
                value = $(this).text();
            }
            else {
                value = $(this).val();
            }

            form.append(`${propertyName}`, value);
        });
    }
</script>
