@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Core.Model
@using HSMServer.Model.AlertSchedule

@model List<AlertScheduleViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">TimeZone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.Name</td>
                <td>@item.Timezone</td>
                <td class="text-end">
                    <div>
                        <button class="btn" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical button-link"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item text-decoration-none fw-normal button-link schedule-edit" data-id="@item.Id" data-name="@item.Name">Edit</a>
                            <form method="post" action="@Url.Action(nameof(AlertSchedulesController.Remove), ViewConstants.AlertSchedulesController)" style="display:inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="dropdown-item text-decoration-none fw-normal button-link border-0 bg-transparent w-100 text-start">Remove</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>