@using HSMServer.Model.Notifications

@model ChatFoldersViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var noFolders = Model.DisplayFolders.Count == 0;
}


<hr />

@if (noFolders)
{
    <label class="col-form-label">Folders</label>
}
else
{
    <div class="d-flex justify-content-end">
        <button type="button" class="col-auto btn btn-link p-0" onclick="addFolders()">
            <i class="fa-solid fa-plus"></i> Add product(s)
        </button>
    </div>
}

<div id="foldersSelect" class="selectpicker @(noFolders ? "" : "d-none")">
    <select class="selectpicker" asp-for="SelectedFolders" asp-items="@Model.AvailableFolders" data-live-search="true" data-width="100%" title="Choose products to add" multiple></select>
</div>

@if (!noFolders)
{
    <table>
        <thead>
            <tr>
                <th>Folder name</th>
                <th>Managers</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var folder in Model.DisplayFolders)
            {
                <tr id="row_folder_@folder.Id">
                    <td class="text-break">@Html.Raw(folder.Name)</td>
                    <td> --- </td>
                    <td nowrap class="text-center w-10">
                        <div class='btn-group'>
                            <button id="actionButton" class="btn" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis-vertical" style="cursor: pointer"></i>
                            </button>
                            <ul class='dropdown-menu overflow-auto' aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a id='exclude_@folder.Id' class='dropdown-item text-decoration-none fw-normal' style="cursor: pointer;">
                                        Exclude from chat
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @*There is info about folders for FormData*@
    <div style="display:none">
        @for (int i = 0; i < Model.Folders.Count; i++)
        {
            <input id="chat_folder_@Model.Folders[i]" asp-for="Folders[i]" value="@Model.Folders[i]" />
        }
    </div>
}


<script>
    function addFolders() {
        $("#foldersSelect").removeClass("d-none");
    }

    $('[id^=exclude_]').on('click', function () {
        var folderId = this.id.substring("exclude_".length, this.id.length);

        $(`#row_folder_${folderId}`).remove();
        $(`#chat_folder_${folderId}`).val('@Guid.Empty');
    });
</script>
