@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Model
@using HSMServer.Model.TreeViewModel;

@model TelegramSettingsViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<form class="my-2" method="post" asp-controller="@ViewConstants.NotificationsController"
      asp-action="@nameof(NotificationsController.UpdateTelegramSettings)"
      asp-route-entityId="@ViewBag.EntityId">
    <div class="form-group row">
        <label class="col-2 col-form-label" asp-for="MessagesDelay"></label>
        <div class="col-auto p-0">
            <div class="input-group">
                <input type="number" class="form-control" asp-for="MessagesDelay">
                <span class="input-group-text">sec</span>
            </div>
        </div>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label" asp-for="MinStatusLevel"></label>
        <div class="col-auto p-0">
            <select id="statusSelect" class="form-select" asp-for="MinStatusLevel" asp-items="Html.GetEnumSelectList<SensorStatus>()"></select>
        </div>
        <div class="col-auto mx-2" style="align-self: center;color: grey;font-weight: 500;font-size: smaller;max-width: 20rem; line-height: 0.8rem;">
            <span id="minStatusLevelHelper">@Model.MinStatusLevelHelper</span>
        </div>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label" asp-for="EnableMessages"></label>
        <div class="col-auto form-check form-switch mt-2">
            <input id="messages-settings" class="form-check-input" type="checkbox" asp-for="EnableMessages">
        </div>
    </div>

    <button type="submit" class="btn btn-secondary my-1">Save</button>
</form>


<script>
    $.ajax({
        type: 'GET',
        url: "@Html.Raw(Url.Action(nameof(NotificationsController.UpdateViewStatusLevelHelper), ViewConstants.NotificationsController))" + '?newSensorStatus=' + $('#statusSelect')[0].value,
        cache: false,
        async: true
    }).done(function (data) {
        $('#minStatusLevelHelper')[0].innerText = data;
    });

    $('#statusSelect').on('change', function() {
        let currentStatus = this.value;

        $.ajax({
        type: 'GET',
        url: "@Html.Raw(Url.Action(nameof(NotificationsController.UpdateViewStatusLevelHelper), ViewConstants.NotificationsController))" + '?newSensorStatus=' + currentStatus,
        cache: false,
        async: true
        }).done(function (data) {
            $('#minStatusLevelHelper')[0].innerText = data;
        });
    });
</script>