@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Notifications
@using HSMServer.ServerConfiguration

@model Guid

@inject IServerConfig Config
@inject NotificationsCenter Notifications

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var botLinksClass = Notifications.TelegramBot.IsBotRunning ? string.Empty : "disabled-link";
    var botLinksTitle = Notifications.TelegramBot.IsBotRunning ? string.Empty : TelegramBot.BotIsNotRunningError;
}


<div class="modal fade" tabindex="-1" role="dialog" id="newChatHelp_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new chat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="hideAddChatHelpModal()" aria-label="Close"></button>
            </div>

            <div id="newChatHelp_modalBody" class="modal-body">
                <h5><i class="fab fa-telegram"></i> Telegram (via bot invite)</h5>
                <p class="ms-2">
                    <h6 class="mt-2">For group chat</h6>
                    1. <a href='https://telegram.org/faq?setln=uz#q-how-do-i-create-a-group' target='_blank'>Create</a> group chat in Telegram. <br />
                    2. <a href='https://telegram.org/faq?setln=uz#q-how-do-i-add-more-members-what-39s-an-invite-link' target='_blank'>Add</a> Telegram Bot (@Config.Telegram.BotName) to group chat. <br />
                    3. <a href='https://telegram.org/faq?setln=uz#q-can-i-assign-administrators' target='_blank'>Give Admin right</a> to Telegram Bot (@Config.Telegram.BotName). <br />
                    4. Send <span title="@botLinksTitle"><a href="javascript:getGroupStartCommand()" class="@botLinksClass">this message</a></span> from clipboard to group chat.

                    <h6 class="mt-3">For direct chat</h6>
                    Click <span title="@botLinksTitle"><a asp-controller="@ViewConstants.NotificationsController" asp-action="@nameof(NotificationsController.OpenInvitationLink)" asp-route-folderId="@Model" target="_blank" class="@botLinksClass">invitation link</a></span> and press <b>Start</b> button at opened direct chat with Telegram Bot (@Config.Telegram.BotName).
                </p>

                <hr />

                <h5><i class="fab fa-slack"></i> Slack webhook</h5>
                <p class="ms-2">
                    1. In Slack, open the channel where alerts should land. <br />
                    2. Go to <b>Channel settings → Integrations → Add apps → Incoming Webhooks</b> (or configure at the workspace level). <br />
                    3. Create a new webhook and copy the URL (<code>https://hooks.slack.com/services/...</code>). <br />
                    4. Close this dialog, click <b>Add new chat → Slack / Mattermost webhook</b>, and paste the URL into the <b>Slack webhook URL</b> field. <br />
                </p>

                <hr />

                <h5><i class="fab fa-mattermost"></i> Mattermost webhook</h5>
                <p class="ms-2 text-muted">
                    <i>Mattermost delivery is not yet implemented.</i> The webhook URL field will be editable once the Mattermost notification channel ships in a follow-up epic.
                </p>
            </div>
        </div>
    </div>
</div>


<script>
    function showAddChatHelpModal() {
        $(`#newChatHelp_modal`).modal({
            backdrop: 'static'
        });
        $(`#newChatHelp_modal`).modal('show');
    }

    function hideAddChatHelpModal() {
        $(`#newChatHelp_modal`).modal('hide');
    }

    function getGroupStartCommand() {
        $.ajax({
            type: 'GET',
            url: `@Html.Raw(Url.Action(nameof(NotificationsController.GetGroupInvitation), ViewConstants.NotificationsController))?folderId=@Model`,
            dataType: 'html',
            contentType: 'application/json',
            cache: false,
            async: true
        }).done(function (command) {
            copyToClipboard(command);
        });
    }
</script>
