@using HSMServer.Notifications
@using HSMServer.Constants
@using HSMServer.Controllers

@model Guid

@inject NotificationsCenter NotificationsCenter

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="modal fade" tabindex="-1" role="dialog" id="newTelegramGroupHelp_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new telegram chat help</h5>
                <button type="button" class="btn-close" onclick="hideAddTelegramGroupHelpModal()" aria-label="Close"></button>
            </div>

            <div id="newTelegramGroupHelp_modalBody" class="modal-body">
                <h5>For group chat</h5>
                <p class="ms-2">
                    1. <a href='https://telegram.org/faq?setln=uz#q-how-do-i-create-a-group' target='_blank'>Create</a> group chat in Telegram. <br />
                    2. <a href='https://telegram.org/faq?setln=uz#q-how-do-i-add-more-members-what-39s-an-invite-link' target='_blank'>Add</a> Telegram Bot (@NotificationsCenter.TelegramBot.BotName) to group chat. <br />
                    3. <a href='https://telegram.org/faq?setln=uz#q-can-i-assign-administrators' target='_blank'>Give Admin right</a> to Telegram Bot (@NotificationsCenter.TelegramBot.BotName). <br />
                    4. Send <a href="javascript:getGroupStartCommand()">this message</a> from clipboard to group chat.
                </p>

                <hr />

                <h5>For direct chat</h5>
                <p class="ms-2">
                    Click <a asp-action="@nameof(NotificationsController.OpenInvitationLink)" asp-route-folderId="@Model" target="_blank">invitation link</a> and press <b>Start</b> button at opened direct chat with Telegram Bot (@NotificationsCenter.TelegramBot.BotName).
                </p>
            </div>
        </div>
    </div>
</div>


<script>
    function showAddTelegramGroupHelpModal() {
        $(`#newTelegramGroupHelp_modal`).modal({
            backdrop: 'static'
        });
        $(`#newTelegramGroupHelp_modal`).modal('show');
    }

    function hideAddTelegramGroupHelpModal() {
        $(`#newTelegramGroupHelp_modal`).modal('hide');
    }

    function getGroupStartCommand() {
        $.ajax({
            type: 'GET',
            url: `@Html.Raw(Url.Action(nameof(NotificationsController.CopyStartCommandForGroup), ViewConstants.NotificationsController))?folderId=@Model`,
            dataType: 'html',
            contentType: 'application/json',
            cache: false,
            async: true
        }).done(function (command) {
            copyToClipboard(command);
        });
    }
</script>