@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Extensions
@using HSMCommon.Extensions
@using HSMServer.Model.Notifications
@using HSMServer.Notifications

@model ChatViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = $"Chat {Model.Name}";

    var isTelegramBound = Model.TelegramChatId.HasValue;
    var icons = Model.ChatBrandIcons();
    var isNewChat = Model.Id == Guid.Empty;
    var formAction = isNewChat ? nameof(NotificationsController.AddChat) : nameof(NotificationsController.EditChat);
}


<div class="container">
    <div class="row w-100 justify-content-center">
        <div class="d-flex justify-content-between my-3 p-0">
            <h5 class="text-break">
                Edit chat '@Model.Name'
                @if (!string.IsNullOrEmpty(icons))
                {
                    @Html.Raw(icons)
                }
            </h5>

            <a href="javascript:removeChat();">
                <i class='fas fa-trash-alt'></i> Remove
            </a>
        </div>

        <form id="chat_form" class="my-2" method="post" asp-action="@formAction">
            <input asp-for="@Model.Id" value="@Model.Id" style="display: none" />
            <input asp-for="@Model.TelegramChatId" value="@Model.TelegramChatId" style="display: none" />
            <input asp-for="@Model.TelegramType" value="@Model.TelegramType" style="display: none" />
            <input asp-for="@Model.Author" value="@Model.Author" style="display: none" />
            <input asp-for="@Model.CreationDate" value="@Model.CreationDate" style="display: none" />
            <input asp-for="@Model.AuthorizationTime" value="@Model.AuthorizationTime" style="display: none" />

            <div class="row">
                <div class="col-2 d-flex align-items-center">
                    <label class="col-form-label" asp-for="Name"></label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" asp-for="Name" readonly="@isTelegramBound" />
                    @if (isTelegramBound)
                    {
                        <small class="text-muted">Telegram-bound chat: name is synchronized from the bot.</small>
                    }
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-2 d-flex align-items-center">
                    <label class="col-form-label" asp-for="Description"></label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" asp-for="Description" readonly="@isTelegramBound" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-2 d-flex align-items-center">
                    <label class="col-form-label" asp-for="EnableMessages"></label>
                    <i class='fas fa-question-circle ms-2' title='True means that alert notifications for this chat is enabled.'></i>
                </div>
                <div class="col-4 form-check form-switch mt-2">
                    <input id="messages-settings" class="form-check-input" type="checkbox" asp-for="EnableMessages">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-2 d-flex align-items-center">
                    <label class="col-form-label" asp-for="MessagesDelay"></label>
                    <i class='fas fa-question-circle ms-2' title='Alert notifications aggregation period in seconds.'></i>
                </div>
                <div class="col-4 p-0">
                    <div class="input-group">
                        <input type="number" class="form-control" asp-for="MessagesDelay">
                        <span class="input-group-text">sec</span>
                    </div>
                </div>
            </div>

            @if (isTelegramBound)
            {
                <div class="row mt-2">
                    <label class="col-2 col-form-label">Telegram</label>
                    <div class="col-6">
                        <span class="badge bg-secondary">
                            <i class="fab fa-telegram"></i>
                            @Model.TelegramType?.GetDisplayName()
                        </span>
                        <small class="text-muted d-block">ChatId: @Model.TelegramChatId</small>
                        <small class="text-muted d-block">Connected: @Model.AuthorizationTime?.ToLocalTime().ToString("g")</small>
                    </div>
                </div>
            }
            else
            {
                @await Html.PartialAsync("_NewChatHelpModal.cshtml", Model.Id)
                <div class="row mt-2">
                    <label class="col-2 col-form-label">Telegram</label>
                    <div class="col-6">
                        <a href="javascript:showAddChatHelpModal();" class="btn btn-link p-0">
                            <i class="fab fa-telegram"></i> Connect via bot
                        </a>
                    </div>
                </div>
            }

            <div class="row mt-2">
                <div class="col-2 d-flex align-items-center">
                    <label class="col-form-label" asp-for="SlackWebhookUrl"></label>
                </div>
                <div class="col-6">
                    <input type="url" class="form-control" asp-for="SlackWebhookUrl" placeholder="https://hooks.slack.com/services/..." />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-2 d-flex align-items-center">
                    <label class="col-form-label" asp-for="MattermostWebhookUrl"></label>
                </div>
                <div class="col-6">
                    <input type="url" class="form-control" asp-for="MattermostWebhookUrl" placeholder="https://your-mattermost/hooks/..." disabled />
                    <small class="text-muted">Mattermost delivery is not yet implemented.</small>
                </div>
            </div>

            <partial name="_ChatFolders" for="Folders" />

            <div class="d-flex justify-content-end my-2 gap-2">
                @if (isTelegramBound)
                {
                    <a id="sendTestTelegram" data-chat-id="@Model.TelegramChatId" class="btn btn-outline-secondary" style="cursor: pointer;">Send test Telegram message</a>
                }
                @if (Model.HasSlack)
                {
                    <a id="sendTestSlack" data-chat-id="@Model.Id" class="btn btn-outline-secondary" style="cursor: pointer;">Send test Slack message</a>
                }
                <button type="submit" class="btn btn-primary independentSizeButton my-1">Save</button>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_ConfirmationModal.cshtml")


<script>
    function removeChat() {
        showConfirmationModal(
            `Removing chat '@Model.Name'`,
            `Do you really want to remove chat '@Model.Name'? It has been removed from all folders.`,
            function () {
                $.ajax({
                    type: 'POST',
                    url: `@Url.Action(nameof(NotificationsController.RemoveChat), ViewConstants.NotificationsController)?id=@Model.Id`,
                    cache: false,
                    async: true,
                    success: function () {
                        window.location.href = `@Url.Action(nameof(ProductController.Index), ViewConstants.ProductController)`;
                    }
                });
            }
        );
    }

    $(function () {
        $("#sendTestTelegram").off("click").on("click", function () {
            var chatId = $(this).data("chat-id");
            $.get("@Url.Action(nameof(NotificationsController.SendTestTelegramMessage), ViewConstants.NotificationsController)", { chatId: chatId })
                .done(function () { showToast("Test Telegram message sent."); })
                .fail(function () { showToast("Failed to send test Telegram message."); });
        });

        $("#sendTestSlack").off("click").on("click", function () {
            var id = $(this).data("chat-id");
            $.get("@Url.Action(nameof(NotificationsController.SendTestSlackMessage), ViewConstants.NotificationsController)", { id: id })
                .done(function () { showToast("Test Slack message sent."); })
                .fail(function () { showToast("Failed to send test Slack message."); });
        });
    });
</script>
