@using HSMServer.Constants
@using HSMServer.Controllers
@using HSMServer.Extensions
@using HSMCommon.Extensions
@using HSMServer.Model.Notifications

@model SlackDestinationViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = Model.Id == Guid.Empty ? "New Slack destination" : $"Slack destination {Model.Name}";

    var isNew = Model.Id == Guid.Empty;
    var action = isNew ? nameof(NotificationsController.AddSlackDestination) : nameof(NotificationsController.EditSlackDestination);
}


<div class="container">
    <div class="row w-100 justify-content-center">
        <div class="d-flex justify-content-between my-3 p-0">
            <h5 class="text-break">@(isNew ? "Add Slack destination" : $"Edit Slack destination '{Model.Name}'")</h5>

            @if (!isNew)
            {
                <a href="javascript:removeSlackDestination();">
                    <i class='fas fa-trash-alt'></i> Remove
                </a>
            }
        </div>

        <form id="slackDestination_form" class="my-2" method="post" asp-action="@action">
            <input asp-for="@Model.Id" value="@Model.Id" type="hidden" />

            <div class="row mt-2">
                <div class="col-2 d-flex align-items-center">
                    <label class="col-form-label" asp-for="Name"></label>
                </div>
                <div class="col-8 p-0">
                    <input type="text" class="form-control" asp-for="Name" value="@Model.Name" required />
                    <span validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-2 d-flex align-items-center">
                    <label class="col-form-label" asp-for="WebhookUrl"></label>
                    <i class='fas fa-question-circle ms-2' title='Full Slack incoming-webhook URL, e.g. https://hooks.slack.com/services/T…/B…/…'></i>
                </div>
                <div class="col-8 p-0">
                    <input type="url" class="form-control" asp-for="WebhookUrl" value="@Model.WebhookUrl" required placeholder="https://hooks.slack.com/services/..." />
                    <span validation-for="WebhookUrl" class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-2 d-flex align-items-center">
                    <label class="col-form-label" asp-for="Description"></label>
                </div>
                <div class="col-8 p-0">
                    <input type="text" class="form-control" asp-for="Description" value="@Model.Description" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-2 d-flex align-items-center">
                    <label class="col-form-label" asp-for="EnableMessages"></label>
                    <i class='fas fa-question-circle ms-2' title='Uncheck to temporarily mute this destination without removing it.'></i>
                </div>
                <div class="col-4 form-check form-switch mt-2">
                    <input id="enable-messages" class="form-check-input" type="checkbox" asp-for="EnableMessages" checked="@Model.EnableMessages">
                </div>
            </div>

            <div class="d-flex justify-content-end my-2">
                <a href="@Url.Action(nameof(ConfigurationController.Index), ViewConstants.ConfigurationController)"
                   class="btn btn-link my-1 me-2">Cancel</a>
                <button type="submit" class="btn btn-primary independentSizeButton my-1">Save</button>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_ConfirmationModal.cshtml")


<script>
    function removeSlackDestination() {
        showConfirmationModal(
            `Removing Slack destination '@Model.Name'`,
            `Do you really want to remove Slack destination '@Model.Name'? Alerts targeting it will no longer fire Slack delivery.`,
            function () {
                $.ajax({
                    type: 'POST',
                    url: `@Url.Action(nameof(NotificationsController.RemoveSlackDestination), ViewConstants.NotificationsController)?id=@Model.Id`,
                    cache: false,
                    async: true,
                    success: function () {
                        window.location.href = `@Url.Action(nameof(ConfigurationController.Index), ViewConstants.ConfigurationController)`;
                    }
                });
            }
        );
    }
</script>
